<div class="hp-links-wrapper">
  <div class="container">
    <ul class="row">
      <li class="col-xl-2 col-sm-4 col-6">
        <a href="#" class="hp-links__item">
          {% include "@images/bag.svg" %}
          <p class="p1">170 obchodů</p>
        </a>
      </li>
      <li class="col-xl-2 col-sm-4 col-6">
        <a href="#" class="hp-links__item">
          {% include "@images/bistro.svg" %}
          <p class="p1">6 bister</p>
        </a>
      </li>
      <li class="col-xl-2 col-sm-4 col-6">
        <a href="#" class="hp-links__item">
          {% include "@images/parking.svg" %}
          <p class="p1">717 parkovacích míst</p>
        </a>
      </li>
      <li class="col-xl-2 col-sm-4 col-6">
        <a href="#" class="hp-links__item">
          {% include "@images/wifi.svg" %}
          <p class="p1">Free WIFI</p>
        </a>
      </li>
      <li class="col-xl-2 col-sm-4 col-6">
        <a href="#" class="hp-links__item">
          {% include "@images/bus.svg" %}
          <p class="p1">Autobusové nádraží</p>
        </a>
      </li>
      <li class="col-xl-2 col-sm-4 col-6">
        <a href="#" class="hp-links__item">
          {% include "@images/train.svg" %}
          <p class="p1">Vlakové nádraží 150 m</p>
        </a>
      </li>
    </ul>
  </div>
</div>
