<div class="news-item">
  <a href="#">
    <div class="news-item__img">
      <img src="images/content/news.png" loading="lazy" alt="" />
    </div>
    <div class="news-item__info">
      <h2 class="h2">Zimní výprodej</h2>
      <p class="p1">20. 1. – 31. 1. 2022</p>
      <p>
        Lorem ipsum dolor sitamet, consectetuer adipiscing elit, sed diam
        nonummy nibh.
      </p>
    </div>
  </a>
</div>
