<section class="c-news-section">
  <div class="container">
    <div class="header-section">
      <h1 class="mb-6 h1">Novinky</h1>
      <p class="p1">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut lao
      </p>
    </div>
    <div class="row gy-6">
      <div class="col-xl-4 col-md-6 col-12">
        {% include "@components/news-item/news-item.twig" %}
      </div>
      <div class="col-xl-4 col-md-6 col-12">
        {% include "@components/news-item/news-item.twig" %}
      </div>
      <div class="col-xl-4 col-md-6 col-12">
        {% include "@components/news-item/news-item.twig" %}
      </div>
      <div class="col-xl-4 col-md-6 col-12">
        {% include "@components/news-item/news-item.twig" %}
      </div>
    </div>
  </div>
</section>
