<section class="c-static-section">
  <div class="container">
    <div class="header-section">
      <h1 class="mb-6 h1">Static title</h1>
      <p class="p1">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet
      </p>
    </div>
    <div class="row gy-10">
      <div class="col-lg-6 col">
        <div class="section-img">
          <img
            src="images/content/foto-service-section.png"
            loading="lazy"
            alt=""
          />
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 mx-auto col col-12">
        <div class="o-content">
          <h2>Title h2</h2>
          <h3>Title h3</h3>
          <h4>Title h4</h4>
          <h5>Title h5</h5>
          <h6>Title h6</h6>
          <p>
            V prostorách podzemního parkoviště obchodního centra MERCURY České
            Budějovice je pro Vás v provozu myčka aut, kde se Vám během vašeho
            nákupu
            <a href="#"><strong> postaráme o čistotu vašeho a</strong></a>
            uta. Mimo jiné patří mezi naše služby ruční mytí karoserie,
            <a href="#"> bezkontaktní mytí voskován</a> í a sušení karoserie,
            vysávání a suché čištění interiérů, ošetření vnitřních plastů,
            čištění a leštění oken a zrcátek, čištění disků a impregnace
            pneumatik, provonění parfémem.
          </p>
          <p>
            V prostorách podzemního parkoviště obchodního centra MERCURY České
            Budějovice je pro Vás v provozu myčka aut, kde se Vám během vašeho
            nákupu
            <a href="#"><strong> postaráme o čistotu vašeho a</strong></a>
            uta. Mimo jiné patří mezi naše služby ruční mytí karoserie,
            <a href="#"> bezkontaktní mytí voskován</a> í a sušení karoserie,
            vysávání a suché čištění interiérů, ošetření vnitřních plastů,
            čištění a leštění oken a zrcátek, čištění disků a impregnace
            pneumatik, provonění parfémem.
          </p>
          <p>
            V prostorách podzemního parkoviště obchodního centra MERCURY České
            Budějovice je pro Vás v provozu myčka aut, kde se Vám během vašeho
            nákupu
            <a href="#"><strong> postaráme o čistotu vašeho a</strong></a>
            uta. Mimo jiné patří mezi naše služby ruční mytí karoserie,
            <a href="#"> bezkontaktní mytí voskován</a> í a sušení karoserie,
            vysávání a suché čištění interiérů, ošetření vnitřních plastů,
            čištění a leštění oken a zrcátek, čištění disků a impregnace
            pneumatik, provonění parfémem.
          </p>
          <img
            src="images/content/foto-service-section.png"
            loading="lazy"
            alt=""
          />
          <ul>
            <li><strong>pro stálé klienty VIP karta zdarma</strong></li>
            <li><strong>mytí již od 149,- Kč</strong></li>
            <li><strong>než nakoupíte, my umyjeme</strong></li>
            <li>
              <strong>ke každému ručnímu mytí ochranný vosk zdarma</strong>
            </li>
            <li>
              <strong
                >otevřeno každý den získáváte parkování v 1.PP zdarma</strong
              >
            </li>
          </ul>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nisi
            a labore odit possimus! Vero, at! Accusantium consequuntur animi
            eaque quas, enim harum et consequatur magnam repudiandae. Ut,
            voluptatum nesciunt. Amet laboriosam eveniet repellendus at
            asperiores odit excepturi veniam? Laudantium fuga voluptates beatae
            corrupti dicta corporis sequi, omnis quibusdam asperiores sit
            distinctio architecto esse, odit, ratione quod porro cum
            accusantium! Nihil autem sunt cum aspernatur, doloremque deserunt,
            aliquam, minus architecto maiores dolorem expedita vel rerum officia
            quisquam! Atque, sunt magni maiores quas maxime dolore nobis,
            laudantium omnis velit suscipit ipsam. Delectus, ex molestias hic et
            voluptatum assumenda? Nemo, porro beatae? Exercitationem assumenda
            atque inventore repellat quam impedit saepe id accusantium laborum
            sint, dignissimos eveniet? Nostrum provident fuga soluta nulla
            reiciendis!
          </p>
          <ol>
            <li>
              <strong
                ><a href="#">pro stálé klienty </a> VIP karta zdarma</strong
              >
            </li>
            <li><strong>mytí již od 149,- Kč</strong></li>
            <li><strong>než nakoupíte, my umyjeme</strong></li>
            <li>
              <strong>ke každému ručnímu mytí ochranný vosk zdarma</strong>
            </li>
            <li>
              <strong
                >otevřeno každý den získáváte parkování v 1.PP zdarma</strong
              >
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
