<section class="c-services-detail-section">
   <div class="container">
     <div class="header-section">
       <h1 class="mb-6 h1">Autobusové nádraží</h1>
       <p class="p1">
         Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
         nonummy nibh euismod tincidunt ut laoreet
       </p>
     </div>
     <div class="row mx-10 gy-10">
       <div class="col-lg-6 col col-12">
         <div class="c-services-detail__img">
           <img
             src="images/content/foto-service-section.png"
             loading="lazy"
             alt=""
           />
         </div>
       </div>
       <div class="col-xl-4 col-lg-6 mx-auto col col-12">
         <div class="o-content">
           <h2 class="h2">Lorem ipsum dolor sit amet, consectetuer</h2>
           <p>
             V prostorách podzemního parkoviště obchodního centra MERCURY České
             Budějovice je pro Vás v provozu myčka aut, kde se Vám během vašeho
             nákupu postaráme o čistotu vašeho auta. Mimo jiné patří mezi naše
             služby ruční mytí karoserie, bezkontaktní mytí voskování a sušení
             karoserie, vysávání a suché čištění interiérů, ošetření vnitřních
             plastů, čištění a leštění oken a zrcátek, čištění disků a impregnace
             pneumatik, provonění parfémem.
           </p>
           <p>
             <strong>jízdní řády IDOS <a href="#">ZDE</a></strong>
           </p>
         </div>
       </div>
     </div>
   </div>
 </section>
 