<section class="hp-slider-section">
  <div class="container">
    <div class="hp-header-section">
      <h2 class="h1">Vše pro každodenní nákupy</h2>
      <p class="p1">
        Ať už sháníte cokoli, u nás vše pořešíte na jednom místě. No není to
        pohoda?
      </p>
    </div>
    <div class="hp-slider-section__inner js-slider">
      <div class="hp-slider-section__item">
        <a href="#">
          <img
            src="images/content/foto-service-section.png"
            loading="lazy"
            alt=""
          />
          <div class="hp-slider-section__item-info">
            <h5 class="h2">Potraviny a nápoje</h5>
          </div>
        </a>
      </div>
      <div class="hp-slider-section__box">
        <div class="hp-slider-section__item">
          <a href="#">
            <img
              src="images/content/foto-service-section.png"
              loading="lazy"
              alt=""
            />
            <div class="hp-slider-section__item-info">
              <h5 class="h2">Domácnost a doplňky</h5>
            </div>
          </a>
        </div>
        <div class="hp-slider-section__item">
          <a href="#">
            <img
              src="images/content/foto-service-section.png"
              loading="lazy"
              alt=""
            />
            <div class="hp-slider-section__item-info">
              <h5 class="h2">Drogerie a parfumerie</h5>
            </div>
          </a>
        </div>
        <div class="hp-slider-section__item">
          <a href="#">
            <img
              src="images/content/foto-service-section.png"
              loading="lazy"
              alt=""
            />
            <div class="hp-slider-section__item-info">
              <h5 class="h2">Elektro</h5>
            </div>
          </a>
        </div>
        <div class="hp-slider-section__item">
          <a href="#">
            <img
              src="images/content/foto-service-section.png"
              loading="lazy"
              alt=""
            />
            <div class="hp-slider-section__item-info">
              <h5 class="h2">Gastro</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="hp-slider-section__item">
        <a href="#">
          <img
            src="images/content/foto-service-section.png"
            loading="lazy"
            alt=""
          />
          <div class="hp-slider-section__item-info">
            <h5 class="h2">Oblečení a móda</h5>
          </div>
        </a>
      </div>
      <div class="hp-slider-section__box">
        <div class="hp-slider-section__item">
          <a href="#">
            <img
              src="images/content/foto-service-section.png"
              loading="lazy"
              alt=""
            />
            <div class="hp-slider-section__item-info">
              <h5 class="h2">Klenoty</h5>
            </div>
          </a>
        </div>
        <div class="hp-slider-section__item">
          <a href="#">
            <img
              src="images/content/foto-service-section.png"
              loading="lazy"
              alt=""
            />
            <div class="hp-slider-section__item-info">
              <h5 class="h2">Knihy</h5>
            </div>
          </a>
        </div>
        <div class="hp-slider-section__item">
          <a href="#">
            <img
              src="images/content/foto-service-section.png"
              loading="lazy"
              alt=""
            />
            <div class="hp-slider-section__item-info">
              <h5 class="h2">Potraviny</h5>
            </div>
          </a>
        </div>
        <div class="hp-slider-section__item">
          <a href="#">
            <img
              src="images/content/foto-service-section.png"
              loading="lazy"
              alt=""
            />
            <div class="hp-slider-section__item-info">
              <h5 class="h2">Pro děti</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="hp-slider-section__item">
        <a href="#">
          <img
            src="images/content/foto-service-section.png"
            loading="lazy"
            alt=""
          />
          <div class="hp-slider-section__item-info">
            <h5 class="h2">Služby</h5>
          </div>
        </a>
      </div>
      <div class="hp-slider-section__box">
        <div class="hp-slider-section__item">
          <a href="#">
            <img
              src="images/content/foto-service-section.png"
              loading="lazy"
              alt=""
            />
            <div class="hp-slider-section__item-info">
              <h5 class="h2">Tabák</h5>
            </div>
          </a>
        </div>
        <div class="hp-slider-section__item">
          <a href="#">
            <img
              src="images/content/foto-service-section.png"
              loading="lazy"
              alt=""
            />
            <div class="hp-slider-section__item-info">
              <h5 class="h2">Sport</h5>
            </div>
          </a>
        </div>
        <div class="hp-slider-section__item">
          <a href="#">
            <img
              src="images/content/foto-service-section.png"
              loading="lazy"
              alt=""
            />
            <div class="hp-slider-section__item-info">
              <h5 class="h2">Zvířata</h5>
            </div>
          </a>
        </div>
        <div class="hp-slider-section__item">
          <a href="#">
            <img
              src="images/content/foto-service-section.png"
              loading="lazy"
              alt=""
            />
            <div class="hp-slider-section__item-info">
              <h5 class="h2">Ostatní</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
    <a class="btn btn--pink" href="#">Více</a>
  </div>
</section>
