<div class="c-restaurant-slider">
  <div class="container">
    <h3 class="h1">Další Obchody</h3>
    <div class="row js-slider">
      <div class="col-12 col-sm-4">
        {% include "@components/restaurant-item/restaurant-item.twig" %}
      </div>
      <div class="col-12 col-sm-4">
        {% include "@components/restaurant-item/restaurant-item.twig" %}
      </div>
      <div class="col-12 col-sm-4">
        {% include "@components/restaurant-item/restaurant-item.twig" %}
      </div>
      <div class="col-12 col-sm-4">
        {% include "@components/restaurant-item/restaurant-item.twig" %}
      </div>
      <div class="col-12 col-sm-4">
        {% include "@components/restaurant-item/restaurant-item.twig" %}
      </div>
    </div>
  </div>
</div>
