<section class="hp-map-section">
  <div class="container">
    <div class="hp-header-section">
      <h2 class="h1">Jak k nám</h2>
      <p class="p1">
        Dostanete se k nám v cuku letu! Pohodlně k nám dorazíte autem, MHD,
        vlakem anebo klidně i pěšky. Jsme jen kousek od centra města.
      </p>
    </div>
  </div>
  <div class="hp-map-section__map">
    <img src="images/content/map.jpg" alt="" loading="lazy" />
    <a class="btn btn--blue" href="#">Více</a>
  </div>
</section>
