<div class="restaurant-item">
  <a href="#">
    <img src="images/content/foto-service-section.png" loading="lazy" alt="" />
    <div class="restaurant-item__info">
      <h5 class="h2">Pravý Italský zážitek</h5>
    </div>
  </a>
</div>
