.restaurant-item {
  padding: 0 16px;
  &:hover {
    z-index: 9;
    transform: scale(1.15);
  }
  &__info {
    background-color: var(--color-light);
    color:  var(--color-dark);
    position: absolute;
    bottom: 0;
    padding: 20px 44px;
    width: 100%;
    min-height: 128px;
    @include media-breakpoint-down(lg) {
      padding-left: 16px;
      padding-right: 16px;
      min-height: auto;
    }

    &::before {
      display: block;
      content: "";
      width: 100%;
      height: 138px;
      background: var(--color-light);
      transform: translateY(-40px) skewY(2.5deg);
      position: absolute;
      bottom: -27px;
      right: 0;
      transform-origin: right;
      z-index: 5;
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
    .h2,
    p {
      position: relative;
      z-index: 5;
    }
    .h2 {
      margin-bottom: 16px;
    }
    p {
      font-size: 32px;
      font-weight: 500;
      line-height: 1.321;
      @include media-breakpoint-down(lg) {
        font-size: 24px;
      }
    }
  }
  a {
    box-shadow: 5px 5px 12px 0px #ededed, 1px 1px 12px 3px rgba(#e6e6e6, 1);
    aspect-ratio: 1034/1034;
    transition: all 0.3s;
    position: relative;
    display: block;
    text-decoration: none;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}
