<section class="c-events-section">
  <div class="container">
    <h3 class="h1">Další blížící se akce</h3>
    <div class="row js-slider">
      <div class="col-xl-4 col-md-6 col-12">
        {% include "@components/event-item/event-item.twig" %}
      </div>
      <div class="col-xl-4 col-md-6 col-12">
        {% include "@components/event-item/event-item.twig" %}
      </div>
      <div class="col-xl-4 col-md-6 col-12">
        {% include "@components/event-item/event-item.twig" %}
      </div>
      <div class="col-xl-4 col-md-6 col-12">
        {% include "@components/event-item/event-item.twig" %}
      </div>
      <div class="col-xl-4 col-md-6 col-12">
        {% include "@components/event-item/event-item.twig" %}
      </div>
      <div class="col-xl-4 col-md-6 col-12">
        {% include "@components/event-item/event-item.twig" %}
      </div>
    </div>
  </div>
</section>
