<section class="c-foodcourt-section">
  <div class="container">
    <div class="header-section">
      <h1 class="mb-5 h1">Foodcourt</h1>
      <p class="p1">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet
      </p>
    </div>
    <div class="row gy-10">
      <div class="col-lg-6 col col-12">
        <div class="section-img">
          <img src="images/content/food-section.jpg" loading="lazy" alt="" />
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 mx-auto col col-12">
        <div class="c-foodcourt-section__header">
          <h2 class="h2">KFC</h2>
          <div class="c-foodcourt-section__logo">
            <img src="images/content/food-logo.png" loading="lazy" alt="" />
          </div>
        </div>
        <div class="o-content">
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
            consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate
            velit esse molestie consequat,vel illum dolore eu feugiat
          </p>
        </div>
        <div class="c-foodcourt-section__time">
          <p class="p1">Otevírací doba</p>
          <p>Po–Pá 9:00–21.00</p>
          <p class="p1">Telefon</p>
          <p>773 064 067</p>
          <p class="p1">Kontaktní osoba</p>
          <p>Viktor Valas</p>
        </div>
        <p class="p1"><strong>Poloha obchodu na 2. NP</strong></p>
        <div class="c-foodcourt-section__location">
          <img
            src="images/content/restaurant-location.png"
            loading="lazy"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
