<section class="c-contact-section">
  <div class="container">
    <div class="header-section">
      <h1 class="mb-5 h1">Jak k nám</h1>
      <p class="p1">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet
      </p>
    </div>
    <div class="row gy-10">
      <div class="col-lg-6 col col-12">
        <div class="section-img">
          <img src="images/content/map-contact.png" loading="lazy" alt="" />
        </div>
      </div>
      <div class="col-lg-6 mx-auto col col-12">
        <div class="c-contact-section__info">
          <div class="o-content">
            <h2 class="h2">Naplánujte si svou cestu k nám</h2>
            <div class="row">
              <div class="col-auto">
                <ul class="c-contact-section__transport">
                  <li>
                    {% include "@images/bus.svg" %}
                    <span>Autobus</span>
                  </li>
                  <li>
                    {% include "@images/car.svg" %}
                    <span>Auto</span>
                  </li>
                  <li>
                    {% include "@images/train.svg" %}
                    <span>Vlak</span>
                  </li>
                </ul>
              </div>
              <div class="col-auto">
                <div class="c-contact-section__address">
                  <ul>
                    <li><strong>Číslo: 12, 25, 34</strong></li>
                    <li>
                      <strong>Zastávka:</strong> České Budějovice–Nádraží,
                    </li>
                    <li>České Budějovice Aut.nádr.</li>
                    <li>
                      <a href="#">podrobnosti</a>
                    </li>
                  </ul>
                  <ul>
                    <li>
                      <strong>Z centra:</strong> ul. Žižkova třída, ul.
                      Dvořákova
                    </li>
                    <li><strong>Z dálnice:</strong> ul. Nádražní</li>
                    <li>
                      <a href="#">podrobnosti</a>
                    </li>
                  </ul>
                  <ul>
                    <li>
                      <strong>Zastávka:</strong> České Budějovice, vlakové
                      nádraží
                    </li>
                    <li></li>
                    <li></li>
                    <li>
                      <a href="#">podrobnosti</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
