<div class="shop-item">
  <a href="#">
    <div class="shop-item__img">
      <img src="images/content/shop.png" loading="lazy" alt="" />
    </div>
    <h4 class="h2">TETA Drogerie a lékárna</h4>
    <p class="p1">+420 734 176 425</p>
    <p class="p1">+420 735 725 906</p>
  </a>
</div>
