<section class="social-section">
  <div class="container">
    <h3 class="h1 text-center mb-5">Zůstaňte s námi v kontaktu</h3>
    <ul class="social">
      <li class="social__item">
        <a target="_blank" class="social__link" href="#">
          {% include "@images/tiktok.svg" %}
        </a>
      </li>
      <li class="social__item">
        <a target="_blank" class="social__link" href="#">
          {% include "@images/insta.svg" %}
        </a>
      </li>
      <li class="social__item">
        <a target="_blank" class="social__link" href="#">
          {% include "@images/fb.svg" %}
        </a>
      </li>
    </ul>
  </div>
</section>
