<section class="c-parking-section">
  <div class="container">
    <div class="header-section">
      <h1 class="mb-6 h1">Parkování v Mercury centru</h1>
      <p class="p1">
        V Mercury centru jsou k dispozici k parkování dvě podzemní podlaží.
      </p>
    </div>
    <div class="c-parking-section__inner">
      <div class="text-center mb-10">
        <h2 class="h2 mb-5">1. PP Placené</h2>
        <p class="p1">Po–Ne: 0:00–24:00</p>
      </div>
      <div class="c-parking__table">
        <div class="c-parking__table-header">
          <span class="h3">Podmínky</span>
          <span class="h3">Cena</span>
        </div>
        <div class="c-parking__table-respons">
          <table>
            <tbody>
              <tr>
                <td>0 min. – 15 min.</td>
                <td>0 Kč</td>
              </tr>
              <tr>
                <td>15 min. – 60 min.</td>
                <td>20 Kč</td>
              </tr>
              <tr>
                <td>každá další započatá hodina</td>
                <td>20 Kč</td>
              </tr>
              <tr>
                <td>maximální cena na 24 hod.</td>
                <td>480 Kč</td>
              </tr>
              <tr>
                <td>každých dalších započatých 24 hod.</td>
                <td>480 Kč</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="c-parking__table-footer">
          <div class="h3">Parkoviště je přístupné 24hod. denně.</div>
        </div>
      </div>
      <div class="text-center mb-10">
        <h3 class="h2 mb-5">2. PP Placené</h3>
        <p class="p1">3 hod. zdarma, Po–Ne: 6:30–23:00</p>
      </div>
      <div class="c-parking__table">
        <div class="c-parking__table-header">
          <span class="h3">Podmínky</span>
          <span class="h3">Cena</span>
        </div>
        <div class="c-parking__table-respons">
          <div class="h3 mb-5">v čase od 6:30 hod. – 23:00 hod.</div>
          <table>
            <table>
              <tbody>
                <tr>
                  <td>0 hod. – 3 hod.</td>
                  <td>0 Kč</td>
                </tr>
                <tr>
                  <td>3 hod. – 4 hod.</td>
                  <td>80 Kč</td>
                </tr>
                <tr>
                  <td>každá další započatá hodina</td>
                  <td>20 Kč</td>
                </tr>
              </tbody>
            </table>
          </table>
          <h4 class="h3 mb-5">v čase od 23:00 hod. – 6:30 hod.</h4>
          <table>
            <table>
              <tbody>
                <tr>
                  <td>noční parkování bez možnosti výjezdu</td>
                  <td>350 Kč</td>
                </tr>
              </tbody>
            </table>
          </table>
        </div>
        <div class="c-parking__table-footer">
          <div class="h3">
            v čase od 23:00 hod. do 6:30 hod. je toto parkoviště nepřístupné!!!
          </div>
        </div>
      </div>
      <p class="c-parking__pay"><strong>Platba probíhá v hotovosti.</strong></p>
    </div>
  </div>
</section>
