<section class="c-travel-section">
  <div class="container">
    <div class="hp-header-section">
      <h2 class="h1">Vaše cesta začíná a končí v DOC Mercury</h2>
      <p class="p1">
        Ať už cestujete autobusem nebo vlakem, udělejte si zastávku v Mercury.
      </p>
    </div>
    <div class="row gy-10">
      <div class="col-12 col-lg-4 col-md-6">
        {% include "@components/restaurant-item/restaurant-item.twig" %}
      </div>
      <div class="col-12 col-lg-4 col-md-6">
        {% include "@components/restaurant-item/restaurant-item.twig" %}
      </div>
      <div class="col-12 col-lg-4 col-md-6">
        {% include "@components/restaurant-item/restaurant-item.twig" %}
      </div>
    </div>
  </div>
</section>
