/*! purgecss start ignore */
@media (min-width: 120em) {
  .p1 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  #new-mercury p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .h1,
  .o-content h1 {
    font-size: 2.25rem;
  }
  .h2,
  .o-content h2 {
    font-size: 1.75rem;
  }
  .nav-link {
    font-size: 1.25rem;
  }
  .header__logo {
    width: 15rem;
  }
  .hp-links__item img,
  .hp-links__item svg {
    width: 4rem;
  }
  .btn {
    font-size: 1.75rem;
  }
  .shop-item a {
    padding: 3rem 3rem;
  }
  .news-item__info .p1 {
    font-size: 1.25rem;
  }
  .c-archive-shops__form-list li label {
    font-size: 1.25rem;
  }
  .c-static-section td {
    font-size: 1.25rem;
  }
}
@media (max-width: 119.99em) {
  .p1 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  #new-mercury p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .h1,
  .o-content h1 {
    font-size: 2.5rem;
  }
  .h2,
  .o-content h2 {
    font-size: 1.25rem;
  }
  .nav-link {
    font-size: 1rem;
  }
  .header__logo {
    width: 15rem;
  }
  .news-item__info .p1 {
    font-size: 1rem;
  }
  .news-item__info {
    min-height: 23.75rem;
  }
  .shop-item__img {
    margin-bottom: 2rem;
  }
  .shop-item__img img {
    max-width: 175px;
  }
  .shop-item a {
    padding: 2rem 3rem;
  }
  .hp-links__item img,
  .hp-links__item svg {
    width: 3.5rem;
  }
  .btn {
    font-size: 1.5rem;
    width: 9rem;
    height: 4rem;
  }
  .c-archive-shops__form-list li label {
    font-size: 1.1rem;
  }
  .c-archive-shops__form-list li label {
    font-size: 1.1rem;
  }
  .c-archive-shops__form-list li input[type="checkbox"]:after {
    top: 0.21rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .c-archive-shops__form-list li input[type="checkbox"] {
    width: 5rem;
    height: 2.5rem;
  }
  /*konec úprav Lukáš Rejmon*/
  .c-foodcourt-section__logo {
    height: auto;
    width: 15rem;
  }
}
@media (max-width: 47.999em) {
  .header-section {
    padding-top: 5rem;
  }
  .c-archive-shops__form-list {
    display: none;
  }
  .c-archive-shops__form-filter {
    display: block;
  }
  .event-item:hover {
    -webkit-transform: none;
    transform: none;
  }
  .footer .h3 {
    margin-bottom: 1.5rem;
  }
  .footer__mail input {
    padding-left: 1rem;
  }
  .footer-col--left,
  .footer-col--right {
    margin-bottom: 2.5rem;
    text-align: left;
  }
  .hp-map-section__map {
    aspect-ratio: 768/768;
  }
  .hp-slider-section__item a:hover {
    -webkit-transform: none;
    transform: none;
  }
  .news-item__img:before {
    display: none;
  }
  .news-item__img {
    aspect-ratio: 496/496;
    height: auto;
  }
  .news-item:hover {
    -webkit-transform: none;
    transform: none;
  }
  .news-item__info {
    height: auto;
    min-height: auto;
  }
  .c-parking-section__inner {
    padding-left: 0;
    padding-right: 0;
  }
  .c-parking__table-respons {
    overflow-x: auto;
  }
  .c-parking__table-respons table {
    width: 40rem;
  }
  .c-parking__table-footer:before {
    bottom: -1.7rem;
  }
  .restaurant-item a:hover {
    -webkit-transform: none;
    transform: none;
  }
  .shop-item a:hover {
    -webkit-transform: none;
    transform: none;
  }
  .c-weekend-section__logos li {
    max-width: 50%;
    flex: 0 0 50%;
  }
  /*úpravy Lukáš Rejmon*/
  .hp-links__item img,
  .hp-links__item svg {
    width: 3rem;
  }
  .p1 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .h1,
  .o-content h1 {
    font-size: 1.75rem;
    line-height: 1.5;
  }
  .h2,
  .o-content h2 {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  .h3,
  .o-content h3 {
    font-size: 1.25rem;
    line-height: 1.5;
  }
  .h4,
  .o-content h4 {
    font-size: 1.125rem;
    line-height: 2;
  }
  .c-archive-shops__form-filter {
    font-size: 1.75rem;
  }
  .shop-item__img {
    margin-bottom: none;
  }
  .shop-item a {
    padding: 0 2rem !important;
  }
  .news-item__info .p1 {
    font-size: 1.25rem !important;
  }
  .c-static-section td {
    font-size: 1rem;
  }
  .header__logo {
    width: 8rem !important;
  }
  /*konec úprav Lukáš Rejmon*/
}

@media (max-width: 47.999em) {
  .hp-links__item img,
  .hp-links__item svg {
    width: 3rem;
  }
  .p1 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  #new-mercury p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .h1,
  .o-content h1 {
    font-size: 1.75rem;
    line-height: 1.5;
  }
  .h2,
  .o-content h2 {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  .h3,
  .o-content h3 {
    font-size: 1.25rem;
    line-height: 1.5;
  }
  .h4,
  .o-content h4 {
    font-size: 1.125rem;
    line-height: 2;
  }
  .c-archive-shops__form-filter {
    font-size: 1.75rem;
  }
  .shop-item__img {
    margin-bottom: none;
  }
  .shop-item a {
    padding: 0 2rem !important;
  }
  .news-item__info .p1 {
    font-size: 1.25rem !important;
  }
  .c-static-section td {
    font-size: 1rem;
  }
  .header__logo {
    width: 8rem !important;
  }
}
@media (max-width: 100em) {
  .navbar {
    padding-left: 0;
  }
  .navbar-nav {
    margin-right: -1.25rem;
    margin-left: -1.25rem;
  }
  /*úprava Lukáš Rejmon*/
  .nav-item--more {
    padding-top: 0rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
#new-mercury .mt-40 {
  margin-top: 10rem;
}

#new-mercury .text-5xl {
  font-size: 2.5rem;
}
.new-mercury__img {
  aspect-ratio: 711/711;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.new-mercury__logos {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px !important;
  margin-right: -12px !important;
  align-items: center;
  li {
    width: 94px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 12px !important;
    
    @media (max-width: 1023px) {
      width: 84px;
    }
    @media (max-width: 512px) {
      width: 78px;
    }
    &::before {
      display: none;
    }

    a {
      width: 100%;
      height: 100%;
      display: block;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin: 0;
    }
  }
}
#new-mercury .font-bold {
  font-weight: 900;
}

#new-mercury .max-w-480 {
  max-width: 34rem;
}
.o-content .btn {
  display: flex !important;
  margin-top: 60px;
}
#new-mercury .m-0 {
  margin: 0;
}

#new-mercury .mb-6 {
  margin-bottom: 1.5rem;
}

#new-mercury .mb-8 {
  margin-bottom: 2rem;
}

#new-mercury .inline-block {
  display: inline-block;
}

#new-mercury .grid {
  display: grid;
}

#new-mercury .grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

#new-mercury .gap-16 {
  gap: 4rem;
  @media (max-width: 1023px) {
    gap: 2rem;
  }
}

#new-mercury .gap-32 {
  gap: 8rem;
  @media (max-width: 1023px) {
    gap: 4rem;
  }
}

#new-mercury .text-center {
  text-align: center;
}

#new-mercury .text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

@media (max-width: 1023px) {
  #new-mercury .tsm\:max-w-480 {
    max-width: 30rem;
  }

  #new-mercury .tsm\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  #new-mercury .lg\:order-first {
    order: -9999;
  }

  #new-mercury .lg\:gap-32 {
    gap: 8rem;
    @media (max-width: 1023px) {
      gap: 4rem;
    }
  }

  #new-mercury .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  #new-mercury .lg\:text-left {
    text-align: left;
  }

  #new-mercury .lg\:text-right {
    text-align: right;
  }
}
/*! purgecss end ignore */
