<section class="c-photogallery-section">
  <div class="container">
    <div class="header-section">
      <h1 class="mb-6 h1">Název galerie</h1>
    </div>
    <div class="c-photogallery-grid js-gallery">
      <figure>
        <a
          data-size="1024x1024"
          href="https://assets.codepen.io/12005/windmill.jpg"
        >
          <img
            src="https://assets.codepen.io/12005/windmill.jpg"
            alt="A windmill"
          />
        </a>
      </figure>
      <figure>
        <a
          data-size="1024x1024"
          href="https://assets.codepen.io/12005/suspension-bridge.jpg"
        >
          <img
            src="https://assets.codepen.io/12005/suspension-bridge.jpg"
            alt="The Clifton Suspension Bridge"
          />
        </a>
      </figure>
      <figure>
        <a
          data-size="1024x1024"
          href="https://assets.codepen.io/12005/sunset.jpg"
        >
          <img
            src="https://assets.codepen.io/12005/sunset.jpg"
            alt="Sunset and boats"
          />
        </a>
      </figure>
      <figure>
        <a
          data-size="1024x1024"
          href="https://assets.codepen.io/12005/snowy.jpg"
        >
          <img
            src="https://assets.codepen.io/12005/snowy.jpg"
            alt="a river in the snow"
          />
        </a>
      </figure>
      <figure>
        <a
          data-size="1024x1024"
          href="https://assets.codepen.io/12005/bristol-balloons1.jpg"
        >
          <img
            src="https://assets.codepen.io/12005/bristol-balloons1.jpg"
            alt="a single checked balloon"
          />
        </a>
      </figure>
      <figure>
        <a
          data-size="1024x1024"
          href="https://assets.codepen.io/12005/dog-balloon.jpg"
        >
          <img
            src="https://assets.codepen.io/12005/dog-balloon.jpg"
            alt="a hot air balloon shaped like a dog"
          />
        </a>
      </figure>
      <figure>
        <a
          data-size="1024x1024"
          href="https://assets.codepen.io/12005/abq-balloons.jpg"
        >
          <img
            src="https://assets.codepen.io/12005/abq-balloons.jpg"
            alt="View from a hot air balloon of other balloons"
          />
        </a>
      </figure>
      <figure>
        <a
          data-size="1024x1024"
          href="https://assets.codepen.io/12005/disney-balloon.jpg"
        >
          <img
            src="https://assets.codepen.io/12005/disney-balloon.jpg"
            alt="a balloon fairground ride"
          />
        </a>
      </figure>
      <figure>
        <a
          data-size="1024x1024"
          href="https://assets.codepen.io/12005/bristol-harbor.jpg"
        >
          <img
            src="https://assets.codepen.io/12005/bristol-harbor.jpg"
            alt="sunrise over a harbor"
          />
        </a>
      </figure>
      <figure>
        <a
          data-size="1024x1024"
          href="https://assets.codepen.io/12005/bristol-balloons2.jpg"
        >
          <img
            src="https://assets.codepen.io/12005/bristol-balloons2.jpg"
            alt="three hot air balloons in a blue sky"
          />
        </a>
      </figure>
      <figure>
        <a
          data-size="1024x1024"
          href="https://assets.codepen.io/12005/toronto.jpg"
        >
          <img
            src="https://assets.codepen.io/12005/toronto.jpg"
            alt="the Toronto light up sign at night"
          />
        </a>
      </figure>
    </div>
  </div>
</section>
