<section class="c-static-section">
  <div class="container">
    <div class="header-section">
      <h1 class="mb-6 h1">Fotogalerie</h1>
      <h1 class="mb-6 h1">Název galerie</h1>
    </div>
    <div class="row g-6 js-gallery">
      <div class="col-xl-2 col-md-3 col-sm-4 col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <img
              src="https://via.placeholder.com/320x320"
              loading="lazy"
              alt=""
            />
          </a>
        </figure>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <img
              src="https://via.placeholder.com/320x320"
              loading="lazy"
              alt=""
            />
          </a>
        </figure>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <img
              src="https://via.placeholder.com/320x320"
              loading="lazy"
              alt=""
            />
          </a>
        </figure>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <img
              src="https://via.placeholder.com/320x320"
              loading="lazy"
              alt=""
            />
          </a>
        </figure>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <img
              src="https://via.placeholder.com/320x320"
              loading="lazy"
              alt=""
            />
          </a>
        </figure>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <img
              src="https://via.placeholder.com/320x320"
              loading="lazy"
              alt=""
            />
          </a>
        </figure>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <img
              src="https://via.placeholder.com/320x320"
              loading="lazy"
              alt=""
            />
          </a>
        </figure>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <img
              src="https://via.placeholder.com/320x320"
              loading="lazy"
              alt=""
            />
          </a>
        </figure>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <img
              src="https://via.placeholder.com/320x320"
              loading="lazy"
              alt=""
            />
          </a>
        </figure>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <img
              src="https://via.placeholder.com/320x320"
              loading="lazy"
              alt=""
            />
          </a>
        </figure>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <img
              src="https://via.placeholder.com/320x320"
              loading="lazy"
              alt=""
            />
          </a>
        </figure>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6">
        <figure>
          <a href="https://via.placeholder.com/1024x1024" data-size="1024x1024">
            <img
              src="https://via.placeholder.com/320x320"
              loading="lazy"
              alt=""
            />
          </a>
        </figure>
      </div>
    </div>
  </div>
</section>
