<div class="event-item">
  <a href="#">
    <img src="images/content/foto-service-section.png" loading="lazy" alt="" />
    <div class="event-item__info">
      <h5 class="h2">Novoroční přípitek</h5>
      <p>2. 1. 2022</p>
    </div>
  </a>
</div>
