<section class="c-events-detail-section">
  <div class="container">
    <div class="header-section">
      <h1 class="mb-6 h1">Kalendář akcí</h1>
      <p class="p1">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet
      </p>
    </div>
    <div class="row gy-10">
      <div class="col-lg-6 col col-12">
        <div class="c-services-detail__img">
          <img src="images/content/events.png" loading="lazy" alt="" />
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 mx-auto col col-12">
        <div class="o-content">
          <h2 class="h2">Cykistický závod 13. 1. 2022 od 16:30 do 20:00</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
            consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate
            velit esse molestie consequat,vel illum dolore eu feugiat
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
