<section class="c-photogallery-archive">
  <div class="container">
    <div class="header-section">
      <h1 class="mb-6 h1">Galerie</h1>
    </div>
    <div class="row g-6 js-gallery">
      <div class="col-12 col-lg-4 col-md-6">
        <div class="restaurant-item">
          <a href="16.0_photogallery.html">
            <img
              src="images/content/foto-service-section.png"
              loading="lazy"
              alt=""
            />
            <div class="restaurant-item__info">
              <h5 class="h2">Pravý Italský zážitek</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-md-6">
        <div class="restaurant-item">
          <a href="16.0_photogallery.html">
            <img
              src="images/content/foto-service-section.png"
              loading="lazy"
              alt=""
            />
            <div class="restaurant-item__info">
              <h5 class="h2">Pravý Italský zážitek</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-md-6">
        <div class="restaurant-item">
          <a href="16.0_photogallery.html">
            <img
              src="images/content/foto-service-section.png"
              loading="lazy"
              alt=""
            />
            <div class="restaurant-item__info">
              <h5 class="h2">Pravý Italský zážitek</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-md-6">
        <div class="restaurant-item">
          <a href="16.0_photogallery.html">
            <img
              src="images/content/foto-service-section.png"
              loading="lazy"
              alt=""
            />
            <div class="restaurant-item__info">
              <h5 class="h2">Pravý Italský zážitek</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-md-6">
        <div class="restaurant-item">
          <a href="16.0_photogallery.html">
            <img
              src="images/content/foto-service-section.png"
              loading="lazy"
              alt=""
            />
            <div class="restaurant-item__info">
              <h5 class="h2">Pravý Italský zážitek</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-md-6">
        <div class="restaurant-item">
          <a href="16.0_photogallery.html">
            <img
              src="images/content/foto-service-section.png"
              loading="lazy"
              alt=""
            />
            <div class="restaurant-item__info">
              <h5 class="h2">Pravý Italský zážitek</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-md-6">
        <div class="restaurant-item">
          <a href="16.0_photogallery.html">
            <img
              src="images/content/foto-service-section.png"
              loading="lazy"
              alt=""
            />
            <div class="restaurant-item__info">
              <h5 class="h2">Pravý Italský zážitek</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-md-6">
        <div class="restaurant-item">
          <a href="16.0_photogallery.html">
            <img
              src="images/content/foto-service-section.png"
              loading="lazy"
              alt=""
            />
            <div class="restaurant-item__info">
              <h5 class="h2">Pravý Italský zážitek</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
