<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-8 mx-auto footer-col--left">
        <h4 class="h3">Otevírací doba</h4>
        <p>
          <strong>Obchodní centrum</strong>
        </p>
        <ul>
          <li>Po–Pá 4.30–23.00</li>
          <li>So 4.30–22.00</li>
          <li>Ne 5.15–22.00</li>
        </ul>
        <h6 class="h4">Hypermarket Albert</h6>
        <p>7.00–22.00</p>
        <h6 class="h4">Správa centra</h6>
        <p>7.30–16.00</p>

        <h6 class="h4">1. PP</h6>
        <p>Po–Ne 6.30–23.00</p>

        <h6 class="h4">2. PP</h6>
        <p>Po–Ne 6.30–23.00</p>
        <a href="#">Otevírací doba obchodu</a>
      </div>
      <div class="col-md-6 col-sm-8 mx-auto footer-col--right">
        <h5 class="h3">Kontakt</h5>
        <p>
          <strong>Dopravně obchodní centrum Mercury</strong>
        </p>
        <ul>
          <li>Nádražní 1759</li>
          <li>České Budějovice, 370 01</li>
          <li><a href="telto:+420389054100">+420 389 054 100</a></li>
        </ul>
        <p>
          <strong>Moje Mercury</strong>
        </p>
        <p>Výběr toho nejlepšího ve vašem emailu</p>
        <form class="footer__form">
          <div class="footer__mail">
            <input placeholder="Zanechte nám svůj email" type="text" />
            <button type="submit">{% include "@images/form-btn.svg" %}</button>
          </div>
          <label class="footer__form-label">
            <input type="checkbox" />
            <span>Souhlasím s GDPR</span>
          </label>
          <a href="#">Podmínky ochrany osobních údajů</a>
        </form>
      </div>
      <div class="col-12 text-center">
        <div class="footer__bottom">
          &#169; 2022 Doc Mercury | <a href="#">Více</a>
        </div>
      </div>
    </div>
  </div>
</footer>
