<section class="hp-foodcourt-section">
  <div class="container">
    <div class="hp-header-section">
      <h2 class="h1">Každý den něco na zub</h2>
      <p class="p1">
        Taky máte na nakupování nejradši pauzy na jídlo a na kafe? Zastavte
        se...
      </p>
    </div>
    <div class="row gy-10 hp-foodcourt-section__inner">
      <div class="col-xl-3 col-sm-6 col-12 col-lg-4">
        <div class="restaurant-item">
          <a href="#">
            <img src="images/content/hp-food-bg.png" loading="lazy" alt="" />
            <div class="restaurant-item__info">
              <img
                src="images/content/hp-food-logo.png"
                loading="lazy"
                alt=""
              />
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 col-lg-4">
        <div class="restaurant-item">
          <a href="#">
            <img src="images/content/hp-food-bg.png" loading="lazy" alt="" />
            <div class="restaurant-item__info">
              <img
                src="images/content/hp-food-logo.png"
                loading="lazy"
                alt=""
              />
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 col-lg-4">
        <div class="restaurant-item">
          <a href="#">
            <img src="images/content/hp-food-bg.png" loading="lazy" alt="" />
            <div class="restaurant-item__info">
              <img
                src="images/content/hp-food-logo.png"
                loading="lazy"
                alt=""
              />
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 col-lg-4">
        <div class="restaurant-item">
          <a href="#">
            <img src="images/content/hp-food-bg.png" loading="lazy" alt="" />
            <div class="restaurant-item__info">
              <img
                src="images/content/hp-food-logo.png"
                loading="lazy"
                alt=""
              />
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 col-lg-4">
        <div class="restaurant-item">
          <a href="#">
            <img src="images/content/hp-food-bg.png" loading="lazy" alt="" />
            <div class="restaurant-item__info">
              <img
                src="images/content/hp-food-logo.png"
                loading="lazy"
                alt=""
              />
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 col-lg-4">
        <div class="restaurant-item">
          <a href="#">
            <img src="images/content/hp-food-bg.png" loading="lazy" alt="" />
            <div class="restaurant-item__info">
              <img
                src="images/content/hp-food-logo.png"
                loading="lazy"
                alt=""
              />
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 col-lg-4">
        <div class="restaurant-item">
          <a href="#">
            <img
              src="https://via.placeholder.com/459x459"
              loading="lazy"
              alt=""
            />
            <div class="restaurant-item__info">
              <img
                src="images/content/hp-food-logo.png"
                loading="lazy"
                alt=""
              />
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 col-lg-4">
        <div class="restaurant-item">
          <a href="#">
            <img
              src="https://via.placeholder.com/459x459"
              loading="lazy"
              alt=""
            />
            <div class="restaurant-item__info">
              <img
                src="images/content/hp-food-logo.png"
                loading="lazy"
                alt=""
              />
            </div>
          </a>
        </div>
      </div>
    </div>
    <a class="btn btn--yellow" href="#">Více</a>
  </div>
</section>
