.hp-foodcourt-section {
  margin-bottom: 8rem;
  .container {
    padding: 0;
  }
  @include media-breakpoint-down(xl) {
    margin-bottom: 60px;
  }
  &__inner {
    margin-bottom: 4.5rem;
  }
  .restaurant-item__info:before {
    bottom: 1.5rem;
    height: 50px;
  }
  .restaurant-item__info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    height: 7rem;
  }
  .restaurant-item__info img {
    position: relative;
    z-index: 5;
    width: 100%;
    object-fit: contain;
    height: 100%;
  }
  
}
