{% extends "@components/base/base.twig" %} {% set title = "01.0_homepage" %} {%
block main %}
<div class="hp-wrapper">
  {% include "@components/message/message.twig" %} {% include
  "@components/topstory-section/topstory-section.twig" %} {% include
  "@components/hp-links/hp-links.twig" %} {% include
  "@components/hp-slider-section/hp-slider-section.twig" %} {% include
  "@components/weekend-section/weekend-section.twig" %} {% include
  "@components/hp-foodcourt-section/hp-foodcourt-section.twig" %} {% include
  "@components/travel-section/travel-section.twig" %} {% include
  "@components/hp-map-section/hp-map-section.twig" %} {% include
  "@components/social/social.twig" %}
</div>
{% endblock %}
