<div
  data-shops='{
"s106":{
"name":"Albert",
"name_ascii":"Albert",
"shop_code":"106",
"link":"/tc-obchody/albert-hypermarket",
"floorid":1,
"img_src":"images/content/shops/albert.png",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#C6D75B","id":1,"name":"Potraviny, delikatesy","slug":"potraviny-delikatesy"}]
},

"s103":{
"name":"Intersport",
"name_ascii":"Intersport",
"shop_code":"103",
"link":"/tc-obchody/intersport",
"floorid":1,
"img_src":"images/content/shops/intersport.svg",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#5d85c4","id":2,"name":"\u0160port a \u0161portov\u00e9 potreby","slug":"sport-a-sportovni-potreby"}]
},

"s102":{
"name":"DATART",
"name_ascii":"DATART",
"shop_code":"102",
"link":"/tc-obchody/datart",
"floorid":1,
"img_src":"images/content/shops/datart.jpeg",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#90c2d8","id":3,"name":"Elektro, knihy, m\u00e9di\u00e1","slug":"elektro-knihy-media"}]
},

"s105":{
"name":"Knebl mobil servis",
"name_ascii":"Knebl mobil servis",
"shop_code":"105",
"link":"/tc-obchody/knebl-mobil-servis",
"floorid":1,
"img_src":"images/content/shops/knebl.webp",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#90c2d8","id":3,"name":"Elektro, knihy, m\u00e9di\u00e1","slug":"elektro-knihy-media"}]
},

"s101":{
"name":"Starbucks",
"name_ascii":"Starbucks",
"shop_code":"101",
"link":"/tc-obchody/starbucks",
"floorid":1,
"img_src":"images/content/shops/starb.png",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#F39400","id":4,"name":"Re\u0161taur\u00e1ce, kavarny, ob\u010derstveni","slug":"restaurace-kavarny-obcerstveni"}]
},

"s119":{
"name":"Tchibo",
"name_ascii":"Tchibo",
"shop_code":"119",
"link":"/tc-obchody/tchibo",
"floorid":1,
"img_src":"images/content/shops/tchibo.gif",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#F39400","id":4,"name":"Re\u0161taur\u00e1ce, kavarny, ob\u010derstveni","slug":"restaurace-kavarny-obcerstveni"}]
},

"s123":{
"name":"Minit",
"name_ascii":"Minit",
"shop_code":"123",
"link":"/tc-obchody/minit",
"floorid":1,
"img_src":"images/content/shops/minit.svg",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#F39400","id":4,"name":"Re\u0161taur\u00e1ce, kavarny, ob\u010derstveni","slug":"restaurace-kavarny-obcerstveni"}]
},

"s117":{
"name":"PET Center",
"name_ascii":"PET Center",
"shop_code":"117",
"link":"/tc-obchody/pet-center",
"floorid":1,
"img_src":"images/content/shops/petcentrer.webp",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#8f6dad","id":5,"name":"Slu\u017eby a r\u00f4zne","slug":"sluzby-a-ruzne"}]
},

"s118":{
"name":"Dopravní podnik",
"name_ascii":"Dopravní podnik - předprodej jízdenek",
"shop_code":"118",
"link":"/tc-obchody/dopravni-podnik-mesta-ceske-budejovice-a-s-",
"floorid":1,
"img_src":"images/content/shops/dopravni.png",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#8f6dad","id":5,"name":"Slu\u017eby a r\u00f4zne","slug":"sluzby-a-ruzne"}]
},

"s115":{
"name":"O2",
"name_ascii":"O2",
"shop_code":"115",
"link":"/tc-obchody/o2",
"floorid":1,
"img_src":"images/content/shops/o2.png",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#8f6dad","id":5,"name":"Slu\u017eby a r\u00f4zne","slug":"sluzby-a-ruzne"}]
},

"s113":{
"name":"ČSOB",
"name_ascii":"ČSOB",
"shop_code":"113",
"link":"/tc-obchody/csob",
"floorid":1,
"img_src":"images/content/shops/csob.webp",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#8f6dad","id":5,"name":"Slu\u017eby a r\u00f4zne","slug":"sluzby-a-ruzne"}]
},

"s111a":{
"name":"Směnárna ČB",
"name_ascii":"Směnárna ČB",
"shop_code":"111a",
"link":"/tc-obchody/smenarna-cb",
"floorid":1,
"img_src":"data/n/d/vystrizek.png",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#8f6dad","id":5,"name":"Slu\u017eby a r\u00f4zne","slug":"sluzby-a-ruzne"}]
},
"s111b":{
"name":"Numismatika",
"name_ascii":"Numismatika",
"shop_code":"111b",
"link":"/tc-obchody/numismatika-cb",
"floorid":1,
"img_src":"data/u/7/logoimage.svg",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#8f6dad","id":5,"name":"Slu\u017eby a r\u00f4zne","slug":"sluzby-a-ruzne"}]
},
"s111c":{
"name":"Výkup zlata ČB ",
"name_ascii":"Výkup zlata ČB",
"shop_code":"111c",
"link":"/tc-obchody/vykup-zlata-cb",
"floorid":1,
"img_src":"data/r/v/vystrizek.png",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#8f6dad","id":5,"name":"Slu\u017eby a r\u00f4zne","slug":"sluzby-a-ruzne"}]
},
"s301a":{
"name":"Informace o jízdních řádech",
"name_ascii":"GW Jihotrans",
"shop_code":"301a",
"link":"/tc-obchody/informace-o-jizdnich-radech",
"floorid":3,
"img_src":"/data/9/t/logo-gwbus-zakladni-copy-1.jpg",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#8f6dad","id":5,"name":"Slu\u017eby a r\u00f4zne","slug":"sluzby-a-ruzne"}]
},
"s301b":{
"name":"Dispečink GW Bus",
"name_ascii":"Dispečink GW Bus",
"shop_code":"301b",
"link":"/tc-obchody/csad-gw-bus-as",
"floorid":3,
"img_src":"/data/9/t/logo-gwbus-zakladni-copy-1.jpg",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#8f6dad","id":5,"name":"Slu\u017eby a r\u00f4zne","slug":"sluzby-a-ruzne"}]
},

"s110":{
"name":"M-Klíče",
"name_ascii":"M-Klíče",
"shop_code":"110",
"link":"/tc-obchody/m-klice",
"floorid":1,
"img_src":"data/f/6/size4-145389609974-156-m-klice.jpg",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#8f6dad","id":5,"name":"Slu\u017eby a r\u00f4zne","slug":"sluzby-a-ruzne"}]
},

"ss1":{
"name":"Svět oříšků",
"name_ascii":"Svět oříšků",
"shop_code":"s1",
"link":"/tc-obchody/svet-orisku",
"floorid":1,
"img_src":"images/content/shops/svetorisku.jpeg",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#C6D75B","id":1,"name":"Potraviny, delikatesy","slug":"potraviny-delikatesy"}]
},

"ss2":{
"name":"Fruitisimo",
"name_ascii":"Fruitisimo",
"shop_code":"s2",
"link":"/tc-obchody/fruitisimo",
"floorid":1,
"img_src":"images/content/shops/fruti.webp",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#C6D75B","id":1,"name":"Potraviny, delikatesy","slug":"potraviny-delikatesy"}]
},

"s124":{
"name":"Leipomo",
"name_ascii":"Leipomo",
"shop_code":"124",
"link":"/tc-obchody/leipomo",
"floorid":1,
"img_src":"images/content/shops/leipomo.jpeg",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#C6D75B","id":1,"name":"Potraviny, delikatesy","slug":"potraviny-delikatesy"}]
},


"ss5":{
"name":"Uzeniny Vydrová",
"name_ascii":"Uzeniny Vydrová",
"shop_code":"s5",
"link":"/tc-obchody/uzeniny-vydrova",
"floorid":1,
"img_src":"data/7/h/1080x1080-vydrova-logo.jpg",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#C6D75B","id":1,"name":"Potraviny, delikatesy","slug":"potraviny-delikatesy"}]
},


"s126":{
"name":"Městská policie České Budějovice",
"name_ascii":"Městská policie",
"shop_code":"126",
"link":"/tc-obchody/mestska-policie-ceske-budejovice",
"floorid":1,
"img_src":"data/u/b/1080x1080-policie-logo.jpg",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#8f6dad","id":5,"name":"Slu\u017eby a r\u00f4zne","slug":"sluzby-a-ruzne"}]
},


"s104":{
"name":"Bijou Brigitte",
"name_ascii":"Bijou Brigitte",
"shop_code":"104",
"link":"/tc-obchody/bijou-brigitte",
"floorid":1,
"img_src":"images/content/shops/brigitte.jpeg",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#f6d4c2","id":6,"name":"Klenoty, \u0161perky","slug":"klenoty-sperky"}]
},

"ss6":{
"name":"Skalimar",
"name_ascii":"Skalimar",
"shop_code":"s6",
"link":"/tc-obchody/skalimar",
"floorid":1,
"img_src":"images/content/shops/skalimar.png",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#f6d4c2","id":6,"name":"Klenoty, \u0161perky","slug":"klenoty-sperky"}]
},

"s114":{
"name":"Levné knihy",
"name_ascii":"Levné knihy",
"shop_code":"114",
"link":"/tc-obchody/levne-knihy",
"floorid":1,
"img_src":"images/content/shops/levne-knihy.jpg",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#90c2d8","id":3,"name":"Elektro, knihy, m\u00e9di\u00e1","slug":"elektro-knihy-media"}]
},

"s121":{
"name":"Geco tabák",
"name_ascii":"Geco tabák",
"shop_code":"121",
"link":"/tc-obchody/geco-tabak",
"floorid":1,
"img_src":"images/content/shops/geco.webp",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#8f6dad","id":7,"name":"Tabak","slug":"tabak"}]
},

"s125":{
"name":"Don Pealo Tabák & Víno & Destiláty",
"name_ascii":"Don Pealo Tabák & Víno & Destiláty",
"shop_code":"125",
"link":"/tc-obchody/don-pealo-tabak-a-vino-a-destilaty",
"floorid":1,
"img_src":"images/content/shops/don-p.webp",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#8f6dad","id":7,"name":"Tabak","slug":"tabak"}]
},

"ss4":{
"name":"IQOS",
"name_ascii":"IQOS",
"shop_code":"s4",
"link":"/tc-obchody/iqos",
"floorid":1,
"img_src":"images/content/shops/iqos.webp",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#8f6dad","id":7,"name":"Tabak","slug":"tabak"}]
},

"s108":{
"name":"Grand Optical",
"name_ascii":"Grand Optical",
"shop_code":"108",
"link":"/tc-obchody/grand-optical",
"floorid":1,
"img_src":"images/content/shops/grandopt.png",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#80c8be","id":8,"name":"Zdravi a krasa","slug":"zdravi-a-krasa"}]
},

"s109":{
"name":"Dr.Max",
"name_ascii":"Dr.Max",
"shop_code":"109",
"link":"/tc-obchody/dr-max",
"floorid":1,
"img_src":"images/content/shops/drmax.png",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#80c8be","id":8,"name":"Zdravi a krasa","slug":"zdravi-a-krasa"}]
},

"s116":{
"name":"TETA Drogerie a lékárna",
"name_ascii":"TETA Drogerie a lékárna",
"shop_code":"116",
"link":"/tc-obchody/teta-drogerie",
"floorid":1,
"img_src":"images/content/shops/teta.svg",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#80c8be","id":8,"name":"Zdravi a krasa","slug":"zdravi-a-krasa"}]
},


"s120":{
"name":"Albi",
"name_ascii":"Albi",
"shop_code":"120",
"link":"/tc-obchody/albi",
"floorid":1,
"img_src":"data/l/e/1logozakladni-varianta.png",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#FCD851","id":9,"name":"Volny cas, zabava, deti","slug":"Volny-cas-zabava-deti"}]
},

"s204":{
"name":"Dráčik",
"name_ascii":"Dráčik",
"shop_code":"204",
"link":"/tc-obchody/dracik",
"floorid":2,
"img_src":"images/content/shops/dracik.webp",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#FCD851","id":9,"name":"Volny cas, zabava, deti","slug":"Volny-cas-zabava-deti"}]
},

"s217":{
"name":"McPen",
"name_ascii":"McPen",
"shop_code":"217",
"link":"/tc-obchody/mcpen",
"floorid":2,
"img_src":"images/content/shops/mcpen.webp",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#FCD851","id":9,"name":"Volny cas, zabava, deti","slug":"Volny-cas-zabava-deti"}]
},


"s122":{
"name":"C&A",
"name_ascii":"C&A",
"shop_code":"122",
"link":"/tc-obchody/c-a-a",
"floorid":1,
"img_src":"images/content/shops/c-a.svg",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#ed8284","id":10,"name":"Obleceni a moda","slug":"Obleceni-a-moda"}]
},
"s201":{
"name":"C&A",
"name_ascii":"C&A",
"shop_code":"201",
"link":"/tc-obchody/c-a-a",
"floorid":2,
"img_src":"images/content/shops/c-a.svg",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#ed8284","id":10,"name":"Obleceni a moda","slug":"Obleceni-a-moda"}]
},

"s107":{
"name":"Flamengo",
"name_ascii":"Flamengo",
"shop_code":"107",
"link":"/tc-obchody/flamengo",
"floorid":1,
"img_src":"data/x/u/flamengo-logo-1080x1080.jpg",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#CDA374","id":11,"name":"Domacnost, bytove dopnky","slug":"Domacnost-bytove-dopnky"}]
},

"s215":{
"name":"Cropp",
"name_ascii":"Cropp",
"shop_code":"215",
"link":"/tc-obchody/cropp",
"floorid":2,
"img_src":"images/content/shops/cropp.png",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#ed8284","id":10,"name":"Obleceni a moda","slug":"Obleceni-a-moda"}]
},

"s214":{
"name":"Pepco",
"name_ascii":"Pepco",
"shop_code":"214",
"link":"/tc-obchody/pepco",
"floorid":2,
"img_src":"images/content/shops/pepco.png",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#ed8284","id":10,"name":"Obleceni a moda","slug":"Obleceni-a-moda"}]
},

"s209":{
"name":"Sinsay",
"name_ascii":"Sinsay",
"shop_code":"209",
"link":"/tc-obchody/sinsay",
"floorid":2,
"img_src":"images/content/shops/sinsay.webp",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#ed8284","id":10,"name":"Obleceni a moda","slug":"Obleceni-a-moda"}]
},

"s206":{
"name":"Gate",
"name_ascii":"Gate",
"shop_code":"206",
"link":"/tc-obchody/gate",
"floorid":2,
"img_src":"images/content/shops/gate.webp",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#ed8284","id":10,"name":"Obleceni a moda","slug":"Obleceni-a-moda"}]
},

"s218":{
"name":"House",
"name_ascii":"House",
"shop_code":"218",
"link":"/tc-obchody/house",
"floorid":2,
"img_src":"images/content/shops/house.png",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#ed8284","id":10,"name":"Obleceni a moda","slug":"Obleceni-a-moda"}]
},

"s219":{
"name":"Orsay",
"name_ascii":"Orsay",
"shop_code":"219",
"link":"/tc-obchody/orsay",
"floorid":2,
"img_src":"images/content/shops/orsay.png",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#ed8284","id":10,"name":"Obleceni a moda","slug":"Obleceni-a-moda"}]
},

"s220":{
"name":"Nejči nábytek",
"name_ascii":"Nejči nábytek",
"shop_code":"220",
"link":"/tc-obchody/nejci-nabytek",
"floorid":2,
"img_src":"images/content/shops/nejci.jpeg",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#CDA374","id":11,"name":"Domacnost, bytove dopnky","slug":"Domacnost-bytove-dopnky"}]
},

"s211":{
"name":"Scan quilt",
"name_ascii":"Scan quilt",
"shop_code":"211",
"link":"/tc-obchody/scanquilt",
"floorid":2,
"img_src":"images/content/shops/scan.svg",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#CDA374","id":11,"name":"Domacnost, bytove dopnky","slug":"Domacnost-bytove-dopnky"}]
},

"s205":{
"name":"Plasma Place",
"name_ascii":"Plasma Place",
"shop_code":"205",
"link":"/tc-obchody/plasma-place",
"floorid":2,
"img_src":"images/content/shops/plasma.png",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#80c8be","id":8,"name":"Zdravi a krasa","slug":"zdravi-a-krasa"}]
},

"s232":{
"name":"NANI Nails",
"name_ascii":"NANI Nails",
"shop_code":"232",
"link":"/tc-obchody/nani-nails",
"floorid":2,
"img_src":"images/content/shops/nani.png",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#80c8be","id":8,"name":"Zdravi a krasa","slug":"zdravi-a-krasa"}]
},

"s233":{
"name":"Voque Nails",
"name_ascii":"Voque Nails",
"shop_code":"233",
"link":"/tc-obchody/vogue-nails",
"floorid":2,
"img_src":"data/a/r/294266638-562939002116292-3213153997352369880-n.jpg",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#80c8be","id":8,"name":"Zdravi a krasa","slug":"zdravi-a-krasa"}]
},
"s10":{
"name":"Ledová říše",
"name_ascii":"Ledová říše",
"shop_code":"s10",
"link":"/tc-obchody/ledova-rise",
"floorid":1,
"img_src":"data/x/k/obrazek-whatsapp-2024-08-19-v-15.02.30-93ed5d4d.jpg",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#FCD851","id":9,"name":"Volny cas, zabava, deti","slug":"Volny-cas-zabava-deti"}]
},

"ss7":{
"name":"Under Barber",
"name_ascii":"Under Barber",
"shop_code":"s7",
"link":"/tc-obchody/under-barber",
"floorid":2,
"img_src":"images/content/shops/under.jpeg",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#80c8be","id":8,"name":"Zdravi a krasa","slug":"zdravi-a-krasa"}]
},

"s212":{
"name":"Tipsport",
"name_ascii":"Tipsport",
"shop_code":"212",
"link":"/tc-obchody/tipsport",
"floorid":2,
"img_src":"images/content/shops/tipsport.jpeg",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#8f6dad","id":5,"name":"Slu\u017eby a r\u00f4zne","slug":"sluzby-a-ruzne"}]
},
"s222":{
"name":"Erotic City",
"name_ascii":"Erotic City",
"shop_code":"222",
"link":"/tc-obchody/erotic-city",
"floorid":2,
"img_src":"images/content/shops/erotik.jpeg",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#8f6dad","id":5,"name":"Slu\u017eby a r\u00f4zne","slug":"sluzby-a-ruzne"}]
},
"s001":{
"name":"Myčka Mercury",
"name_ascii":"Myčka Mercury",
"shop_code":"001",
"link":"/tc-obchody/mycka-mercury",
"floorid":0,
"img_src":"data/r/m/mycka-mercury-logo-1-.jpg",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#8f6dad","id":5,"name":"Slu\u017eby a r\u00f4zne","slug":"sluzby-a-ruzne"}]
},

"ss9":{
"name":"Trdlokafe",
"name_ascii":"Trdlokafe",
"shop_code":"s9",
"link":"/tc-obchody/trdlokafe",
"floorid":3,
"img_src":"data/n/q/logo-trdlokafe-def-cz-1-1-.jpg",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#F39400","id":4,"name":"Re\u0161taur\u00e1ce, kavarny, ob\u010derstveni","slug":"restaurace-kavarny-obcerstveni"}]
},
"s221":{
"name":"Vaprio.cz",
"name_ascii":"Vaprio.cz",
"shop_code":"221",
"link":"/tc-obchody/vaprio-cz",
"floorid":2,
"img_src":"images/content/shops/vaprio.jpeg",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#8f6dad","id":7,"name":"Tabak","slug":"tabak"}]
},

"s224":{
"name":"Guo Running Sushi",
"name_ascii":"Guo Running Sushi",
"shop_code":"224",
"link":"/tc-obchody/guo-running-sushi",
"floorid":2,
"img_src":"images/content/shops/sushi.png",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#F39400","id":4,"name":"Re\u0161taur\u00e1ce, kavarny, ob\u010derstveni","slug":"restaurace-kavarny-obcerstveni"}]
},

"s225":{
"name":"Bouda Burgers",
"name_ascii":"Bouda Burgers",
"shop_code":"225",
"link":"/tc-obchody/bouda-burgers",
"floorid":2,
"img_src":"images/content/shops/bouda.png",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#F39400","id":4,"name":"Re\u0161taur\u00e1ce, kavarny, ob\u010derstveni","slug":"restaurace-kavarny-obcerstveni"}]
},

"s226":{
"name":"Mr. Thai",
"name_ascii":"Mr. Thai",
"shop_code":"226",
"link":"/tc-obchody/mr-thai",
"floorid":2,
"img_src":"data/x/1/unnamed-4-.jpg",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#F39400","id":4,"name":"Re\u0161taur\u00e1ce, kavarny, ob\u010derstveni","slug":"restaurace-kavarny-obcerstveni"}]
},

"s228":{
"name":"Wok Food",
"name_ascii":"Wok Food",
"shop_code":"228",
"link":"/tc-obchody/wok-food",
"floorid":2,
"img_src":"data/6/x/logo-wok-food.jpeg",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#F39400","id":4,"name":"Re\u0161taur\u00e1ce, kavarny, ob\u010derstveni","slug":"restaurace-kavarny-obcerstveni"}]
},

"s229":{
"name":"Mocu Mocu",
"name_ascii":"Mocu Mocu",
"shop_code":"229",
"link":"/tc-obchody/mocu-mocu",
"floorid":2,
"img_src":"images/content/shops/mocu.png",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#F39400","id":4,"name":"Re\u0161taur\u00e1ce, kavarny, ob\u010derstveni","slug":"restaurace-kavarny-obcerstveni"}]
},
"s230":{
"name":"Fast & Good",
"name_ascii":"Fast & Good",
"shop_code":"230",
"link":"/tc-obchody/fast-good",
"floorid":2,
"img_src":"images/content/shops/fast.png",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#F39400","id":4,"name":"Re\u0161taur\u00e1ce, kavarny, ob\u010derstveni","slug":"restaurace-kavarny-obcerstveni"}]
},
"ss8":{
"name":"DéKáčko",
"name_ascii":"DéKáčko",
"shop_code":"s8",
"link":"/tc-obchody/dekacko-pekarstvi-a-kavarna",
"floorid":2,
"img_src":"images/content/shops/fast.png",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#F39400","id":4,"name":"Re\u0161taur\u00e1ce, kavarny, ob\u010derstveni","slug":"restaurace-kavarny-obcerstveni"}]
},

"s216":{
"name":"Chai Time",
"name_ascii":"Chai Time",
"shop_code":"216",
"link":"/tc-obchody/chai-time",
"floorid":2,
"img_src":"images/content/shops/caitime.jpeg",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#F39400","id":4,"name":"Re\u0161taur\u00e1ce, kavarny, ob\u010derstveni","slug":"restaurace-kavarny-obcerstveni"}]
},

"s208":{
"name":"KFC",
"name_ascii":"KFC",
"shop_code":"208",
"link":"/tc-obchody/kfc",
"floorid":2,
"img_src":"images/content/shops/kfc.png",
"location":"","notes":null,"status":"enabled",
"categories":[{"color":"#F39400","id":4,"name":"Re\u0161taur\u00e1ce, kavarny, ob\u010derstveni","slug":"restaurace-kavarny-obcerstveni"}]
}



}'
  data-places='{
"301a":"301a",
"301b":"301b",
"208":"208",
"216":"216",
"s8":"s8",
"230":"230",
"229":"229",
"228":"228",
"226":"226",
"225":"225",
"224":"224",
"201":"201",
"233":"233",
"232":"232",
"220":"220",
"219":"219",
"218":"218",
"217":"217",
"215":"215",
"214":"214",
"211":"211",
"206":"209",
"205":"205",
"204":"204",
"126":"126",
"125":"125",
"124":"124",
"123":"123",
"122":"122",
"121":"121",
"120":"120",
"119":"119",
"118":"118",
"117":"117",
"116":"116",
"115":"115",
"114":"114",
"113":"113",
"111a":"111a",
"111b":"111b",
"111c":"111c",
"110":"110",
"109":"109",
"108":"108",
"107":"107",
"106":"106",
"105":"105",
"104":"104",
"103":"103",
"102":"102",
"101":"101",
"s1":"s1",
"s2":"s2",
"s4":"s4",
"s5":"s5",
"s6":"s6",
"212":"212",
"222":"222",
"001":"001",
"221":"221"
}'
  data-categories='[
{
"id":1,
"created_at":"2024-05-28 22:00:00",
"updated_at":"2024-05-28 22:00:00",
"name":"Potraviny, delikatesy",
"slug":"potraviny-delikatesy",
"description":"&lt;p&gt;Potraviny, delikatesy&lt;\/p&gt;",
"color":"#C6D75B"
},
{
"id":2,
"created_at":"2024-05-28 22:00:00",
"updated_at":"2024-05-28 22:00:00",
"name":"\u0160port a \u0161portov\u00e9 potreby",
"slug":"sport-a-sportovni-potreby","description":"&lt;p&gt;\u0160port a \u0161portov\u00e9 potreby&lt;\/p&gt;",
"color":"#5d85c4"
},
{
"id":3,
"created_at":"2024-05-28 22:00:00",
"updated_at":"2024-05-28 22:00:00",
"name":"Elektro, knihy, m\u00e9di\u00e1",
"slug":"elektro-knihy-media",
"description":"&lt;p&gt;Elektro, knihy, m\u00e9di\u00e1&lt;\/p&gt;",
"color":"#90c2d8"
},

{
"id":4,
"created_at":"2024-05-28 22:00:00",
"updated_at":"2024-05-28 22:00:00",
"name":"Re\u0161taur\u00e1ce, kavarny, ob\u010derstveni","slug":"restaurace-kavarny-obcerstveni","description":"&lt;p&gt;Re\u0161taur\u00e1ce, kavarny, ob\u010derstveni&lt;\/p&gt;",
"color":"#F39400"
},

{
"id":5,
"created_at":"2024-05-28 22:00:00",
"updated_at":"2024-05-28 22:00:00",
"name":"Slu\u017eby a r\u00f4zne","slug":"sluzby-a-ruzne",
"description":"&lt;p&gt;Slu\u017eby a r\u00f4zne&lt;\/p&gt;",
"color":"#8f6dad"
},

{
"id":6,
"created_at":"2024-05-28 22:00:00",
"updated_at":"2024-05-28 22:00:00",
"name":"Klenoty, \u0161perky","slug":"klenoty-sperky",
"description":"&lt;p&gt;Klenoty, \u0161perky&lt;\/p&gt;",
"color":"#f6d4c2"
},

{
"id":7,
"created_at":"2024-05-28 22:00:00",
"updated_at":"2024-05-28 22:00:00",
"name":"Tabak","slug":"tabak",
"description":"&lt;p&gt;Tabak&lt;\/p&gt;",
"color":"#F29AC2"
},

{
"id":8,
"created_at":"2024-05-28 22:00:00",
"updated_at":"2024-05-28 22:00:00",
"name":"Zdravi a krasa","slug":"zdravi-a-krasa",
"description":"&lt;p&gt;Zdravi a krasa&lt;\/p&gt;",
"color":"#80C8BE"
},

{
"id":9,
"created_at":"2024-05-28 22:00:00",
"updated_at":"2024-05-28 22:00:00",
"name":"Volny cas, zabava, deti","slug":"Volny-cas-zabava-deti",
"description":"&lt;p&gt;Volny cas, zabava, deti&lt;\/p&gt;",
"color":"#FCD851"
},


{
"id":10,
"created_at":"2024-05-28 22:00:00",
"updated_at":"2024-05-28 22:00:00",
"name":"Obleceni a moda","slug":"Obleceni-a-moda",
"description":"&lt;p&gt;Obleceni a moda&lt;\/p&gt;",
"color":"#ed8284"
},

{
"id":11,
"created_at":"2024-05-28 22:00:00",
"updated_at":"2024-05-28 22:00:00",
"name":"Domacnost, bytove dopnky","slug":"Domacnost-bytove-dopnky",
"description":"&lt;p&gt;Domacnost, bytove dopnky&lt;\/p&gt;",
"color":"#CDA374"
}

]'
  id="shops"
></div>
