<div
  aria-labelledby="garage-map-tab"
  class="tab-pane fade shops-map"
  id="garage-map"
  role="tabpanel"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="1000"
    height="492"
    viewBox="0 0 1000 492"
  >
    <style type="text/css">
      .st1 {
        fill: #8f6dad;
      }

      .st2 {
        fill: #8566a1;
      }
    </style>
    <g fill="none" fill-rule="evenodd">
      <path
        fill="#CFD0CF"
        d="M997.539558,262.862074 C995.109923,266.540816 980.012613,258.311441 971.435814,261.635344 C933.589075,276.303967 902.990723,286.740588 864.608567,300.007234 C735.675837,344.573604 608.350805,402.411979 479.418076,446.979798 C449.026655,457.484491 413.674669,476.188144 380.839143,477.620536 C345.641994,479.154311 319.311059,452.047483 292.530085,432.852848 C195.033563,362.971227 97.5355934,293.088591 0.0390709626,223.206969 L0,237.475855 C2.41950554,239.209498 4.837564,240.943142 7.25562246,242.676786 C105.782461,313.311536 204.309299,383.945851 302.83469,454.580602 C327.636069,472.360224 349.255335,493.678102 381.792764,491.895215 C410.676335,490.313646 441.310864,474.429879 468.10052,465.167848 C591.922189,422.358294 715.742411,379.54874 839.562632,336.739621 C870.165326,326.159616 900.766572,315.579611 931.369265,304.998157 C943.76489,300.714016 1013.4125,286.624722 997.539558,262.862074"
      />
      <path
        fill="#EDEDED"
        d="M746.883415,68.8504153 L866.800882,153.913367 C908.097442,183.207163 954.794478,210.019981 992.940761,243.390809 C1023.70697,270.30501 944.743111,286.135189 931.473454,290.72203 C900.869314,301.300587 870.265174,311.879144 839.661033,322.4577 C715.830682,365.261026 592.001778,408.063339 468.172874,450.867099 C441.378876,460.127682 410.744347,476.008552 381.857882,477.590121 C349.320453,479.373008 327.698293,458.059475 302.89402,440.281301 C204.361393,369.656689 105.827754,299.032512 7.29512754,228.4079 L0.0380580117,223.206969 L649.664731,0 L746.883415,68.8504153 Z"
      />
      <polygon
        fill="#BCBDBD"
        points="616.679 33.116 601.942 22.605 476.698 65.768 491.436 76.277"
      />
      <polygon
        fill="#7D7E7E"
        points="83.915 208.659 70.647 199.197 70.719 184.944 83.989 194.406"
      />
      <path
        fill="#959595"
        d="M497.156293,80.3573476 C451.143723,96.2150445 405.129705,112.071293 359.117135,127.92899 C338.452937,135.050398 318.274955,145.765097 296.139084,143.187081 C280.321133,141.344813 269.177226,144.813549 254.210153,149.97103 C224.87799,160.078881 195.544379,170.188181 166.212216,180.297481 C138.780638,189.75069 111.347034,199.205348 83.914877,208.658557 L83.9886777,194.407051 C138.279951,175.696156 192.572092,156.98671 246.864812,138.275815 C260.844982,133.457242 274.981435,126.583497 290.052697,127.836297 C310.750177,129.558354 321.368797,126.71095 341.462848,119.786514 L497.230094,66.1043934 L497.156293,80.3573476 Z"
      />
      <path
        fill="#D7D8D7"
        d="M470.621321,47.1284554 L497.231541,66.1043934 C451.217523,81.9620903 405.204953,97.8197873 359.192383,113.676036 C338.526738,120.797444 318.348756,131.512143 296.212885,128.934127 C280.396381,127.093307 269.251027,130.560594 254.285401,135.718075 C224.951791,145.827375 195.619627,155.936675 166.287464,166.044527 C138.853281,175.499184 111.421124,184.952393 83.9889671,194.407051 L70.7207576,184.943704 L470.621321,47.1284554 Z"
      />
      <polygon
        fill="#BCBDBD"
        points="421.657 319.147 255.19 200.435 208.422 216.552 374.889 335.264"
      />
      <polygon
        fill="#BCBDBD"
        points="875.818 246.626 701.638 122.414 678.762 130.298 852.941 254.51"
      />
      <polygon
        fill="#BCBDBD"
        points="564.943 253.206 414.132 145.658 367.365 161.776 518.175 269.323"
      />
      <polygon
        fill="#BCBDBD"
        points="128.952 243.94 279.764 351.487 326.531 335.37 175.719 227.823"
      />
      <polygon
        fill="#BCBDBD"
        points="287.894 189.164 438.705 296.712 485.471 280.594 334.662 173.047"
      />
      <polygon
        fill="#BCBDBD"
        points="446.834 134.389 597.645 241.935 644.412 225.818 493.602 118.272"
      />
      <polygon
        fill="#BCBDBD"
        points="723.884 198.432 573.073 90.884 526.306 107.002 677.117 214.549"
      />
      <polygon
        stroke="#000"
        stroke-width=".1"
        points="522.334 331.235 487.271 306.231 487.344 291.978 522.408 316.982"
      />
      <polygon
        fill="#959595"
        points="701.139 269.614 522.334 331.235 522.408 316.982 701.212 255.361"
      />
      <polygon
        fill="#D7D8D7"
        points="666.15 230.357 701.212 255.361 522.408 316.983 487.345 291.978"
      />
      <polygon
        fill="#BCBDBD"
        points="512.316 383.048 431.532 325.44 384.765 341.557 465.548 399.165"
      />
      <polygon
        fill="#7C5E95"
        points="678.762 130.297 607.067 79.168 607.14 64.917 678.836 116.044"
      />
      <polygon
        fill="#8566A1"
        points="728.782 113.059 678.762 130.297 678.836 116.044 728.856 98.806"
      />
      <g id="s001_1_1">
        <polygon
          class="st1"
          points="657.159 47.679 728.854 98.808 678.836 116.045 607.14 64.917"
        />
      </g>

      <polygon
        fill="#BCBDBD"
        points="818.948 266.225 748.705 216.133 701.939 232.25 772.181 282.342"
      />
      <polygon
        fill="#BCBDBD"
        points="404.39 390.867 351.377 353.062 304.61 369.179 357.624 406.984"
      />
      <polygon
        fill="#BCBDBD"
        points="590.785 356.006 558.967 333.316 512.199 349.432 544.017 372.123"
      />
      <polygon
        fill="#BCBDBD"
        points="671.779 328.093 639.961 305.402 593.193 321.519 625.012 344.21"
      />
      <polygon
        fill="#BCBDBD"
        points="752.774 300.18 720.956 277.489 674.188 293.606 706.007 316.297"
      />
      <polygon
        fill="#7D7E7E"
        points="487.271 306.229 522.334 331.233 522.408 316.982 487.345 291.976"
      />
      <polygon
        fill="#BCBDBD"
        points="522.334 331.235 487.271 306.231 462.369 314.812 497.431 339.816"
      />
      <polygon
        fill="#1D1D1B"
        points="638.405 79.724 667.998 79.724 667.998 50.106 638.405 50.106"
      />
      <path
        fill="#FFF"
        d="M658.946255 71.4907095C659.617697 71.4965028 660.14009 70.9895895 660.144431 70.3248089 660.150219 69.6658216 659.616249 69.1241485 658.967961 69.1284934 658.315331 69.1328384 657.778467 69.6716148 657.779911 70.3219122 657.781361 70.9620713 658.303755 71.4849162 658.946255 71.4907095M648.58232 70.3219122C648.586661 69.6658216 648.068609 69.1357351 647.413085 69.1284934 646.767691 69.1212518 646.232274 69.6513383 646.222145 70.3059807 646.213462 70.9533814 646.743091 71.4892612 647.397168 71.4936061 648.059927 71.4979511 648.577979 70.9866928 648.58232 70.3219122M647.366779 66.8777983 659.011373 66.8777983C658.912972 66.621445 658.830489 66.3955065 658.739323 66.1739129 658.420967 65.3976114 658.105506 64.6184132 657.77702 63.8464567 657.638101 63.5191355 657.39644 63.387338 657.014413 63.3902347 654.480588 63.4076146 651.946764 63.4105112 649.41294 63.387338 648.974477 63.3844414 648.714004 63.5365154 648.556273 63.9174245 648.243705 64.6720012 647.934032 65.4294745 647.627252 66.1854995 647.537534 66.4070931 647.459392 66.6315833 647.366779 66.8777983M653.178223 73.487948C650.424444 73.487948 647.669217 73.4893963 644.915438 73.4850513 644.72153 73.4850513 644.523281 73.4705681 644.336609 73.4242217 644.048641 73.3547022 643.863416 73.1461436 643.86631 72.8550305 643.87644 71.7948575 643.827239 70.7259946 643.954582 69.6803048 644.10363 68.4506779 644.808355 67.5411306 645.937071 66.9806293 646.054284 66.9226963 646.164262 66.7908989 646.213462 66.6677914 646.544842 65.8581784 646.851621 65.0369788 647.17866 64.2259175 647.31179 63.8956997 647.46518 63.5712751 647.630146 63.2555406 647.98902 62.5704834 648.537461 62.2518522 649.337692 62.2605421 651.930846 62.2880603 654.524001 62.282267 657.115708 62.2634388 657.814644 62.2590938 658.322566 62.5299303 658.655393 63.1193981 658.871007 63.498859 659.054785 63.8985963 659.22554 64.299782 659.432471 64.7878671 659.626379 65.2817455 659.798581 65.7828655 660.02143 66.4302663 660.320974 66.9400762 660.964921 67.3340203 662.111003 68.0321123 662.487242 69.2211862 662.526313 70.5159876 662.546572 71.1851132 662.532101 71.8542388 662.532101 72.5233643 662.530654 73.233043 662.286099 73.4864997 661.57848 73.4864997 658.778394 73.4893963 655.978309 73.487948 653.178223 73.487948M657.512206 74.0976923 660.468575 74.0976923C660.445422 74.5944673 660.423716 75.0724142 660.400563 75.550361 660.400563 75.5735342 660.39188 75.5967074 660.384645 75.6184322 660.177714 76.2368665 659.582967 76.4859782 658.545416 76.3874922 658.001316 76.3353525 657.5643 75.9153386 657.517994 75.344699 657.486158 74.94641 657.512206 74.5423277 657.512206 74.0976923M645.931283 74.0991406 648.837005 74.0991406C648.837005 74.5770875 648.845687 75.0333094 648.831217 75.4895314 648.828323 75.5967074 648.767546 75.711125 648.709663 75.8081627 648.324741 76.4555634 647.741571 76.4772882 646.792291 76.3411458 646.22938 76.2600397 645.937071 75.7835411 645.931283 75.1390371 645.928389 74.7972327 645.931283 74.4554283 645.931283 74.0991406M646.766244 53.4388021C647.304555 54.5409764 647.889172 55.6243226 648.368153 56.7525668 648.763204 57.6867357 648.48826 58.53835 647.766171 59.0626432 647.075918 59.5637633 646.171497 59.5724532 645.485585 59.0829198 644.76639 58.5716615 644.453822 57.6737008 644.832955 56.7873266 645.323513 55.6417025 645.919706 54.5424248 646.471041 53.4228705 646.569442 53.4286638 646.667843 53.4330088 646.766244 53.4388021M653.344636 53.4388021C653.882947 54.5409764 654.467565 55.6243226 654.946546 56.7525668 655.343044 57.6867357 655.066653 58.53835 654.344564 59.0626432 653.65431 59.5637633 652.74989 59.5724532 652.063977 59.0829198 651.344782 58.5716615 651.032214 57.6737008 651.411347 56.7873266 651.901905 55.6417025 652.498099 54.5424248 653.049434 53.4228705 653.147835 53.4286638 653.246235 53.4330088 653.344636 53.4388021M659.924476 53.4388021C660.462787 54.5409764 661.047404 55.6243226 661.526385 56.7525668 661.922883 57.6867357 661.646492 58.53835 660.924403 59.0626432 660.234149 59.5637633 659.329729 59.5724532 658.643817 59.0829198 657.924621 58.5716615 657.612054 57.6737008 657.991187 56.7873266 658.481744 55.6417025 659.077938 54.5424248 659.629273 53.4228705 659.727674 53.4286638 659.826075 53.4330088 659.924476 53.4388021"
      />
      <g id="info-icon-13-1">
        <polygon
          fill="#1D1D1B"
          points="475.863 137.223 505.455 137.223 505.455 107.605 475.863 107.605"
        />
        <path
          fill="#FFF"
          d="M497.801687 128.543079C498.397881 128.548873 498.863839 128.096996 498.86818 127.50608 498.872521 126.920957 498.397881 126.438665 497.821946 126.441549 497.240223 126.445907 496.762689 126.925302 496.764133 127.503183 496.765583 128.072374 497.230094 128.537286 497.801687 128.543079M488.583848 127.504631C488.586728 126.919508 488.126559 126.448803 487.544836 126.441562 486.970348 126.435768 486.492814 126.906474 486.485579 127.490148 486.476896 128.065133 486.947195 128.541631 487.530365 128.545976 488.119324 128.550321 488.58094 128.094099 488.583848 127.504631M487.502871 124.441426 497.85957 124.441426C497.771299 124.212591 497.698945 124.011274 497.617909 123.814302 497.334283 123.123452 497.053551 122.431153 496.761242 121.743199 496.638241 121.453535 496.422627 121.33622 496.084012 121.337669 493.83092 121.3536 491.576381 121.356497 489.323288 121.33622 488.932579 121.333324 488.701047 121.469466 488.560681 121.806926 488.282843 122.478948 488.007899 123.15097 487.734403 123.824441 487.654814 124.021413 487.585354 124.221281 487.502871 124.441426M492.671815 130.320173C490.221921 130.320173 487.772026 130.320173 485.322132 130.317276 485.149931 130.317276 484.973388 130.304241 484.806975 130.26224 484.55229 130.20141 484.387323 130.016025 484.390218 129.755326 484.397453 128.813916 484.355488 127.863816 484.46836 126.932543 484.600043 125.839059 485.228073 125.029446 486.230894 124.532671 486.335083 124.480531 486.433484 124.363217 486.478343 124.253144 486.772099 123.533327 487.044149 122.803372 487.335011 122.082107 487.45367 121.788097 487.589695 121.499881 487.737297 121.218906 488.055653 120.609162 488.543316 120.326739 489.255276 120.33398 491.56191 120.358602 493.868544 120.352808 496.173731 120.336877 496.795972 120.332532 497.246011 120.574402 497.544108 121.098695 497.735122 121.436155 497.898641 121.790994 498.050584 122.14873 498.234362 122.581779 498.406564 123.020621 498.559953 123.466705 498.758202 124.041689 499.024464 124.496463 499.597504 124.845509 500.616244 125.46684 500.950517 126.525564 500.986694 127.676982 501.004059 128.270794 500.991035 128.866056 500.991035 129.461317 500.989588 130.092786 500.772528 130.317276 500.143051 130.318724 497.652639 130.320173 495.162227 130.318724 492.671815 130.320173M496.526816 130.861846 499.156147 130.861846C499.135888 131.303584 499.117076 131.729392 499.096817 132.153751 499.09537 132.174027 499.088135 132.194304 499.082347 132.21458 498.898568 132.764943 498.36894 132.986537 497.445707 132.898189 496.960938 132.851843 496.573123 132.478175 496.532605 131.971262 496.503663 131.616422 496.526816 131.257238 496.526816 130.861846M486.226553 130.863294 488.811025 130.863294C488.811025 131.287653 488.81826 131.694632 488.806683 132.100163 488.803789 132.195752 488.748801 132.297135 488.696706 132.382586 488.355197 132.959019 487.837145 132.979295 486.992054 132.857636 486.492814 132.78522 486.232341 132.360861 486.226553 131.787325 486.223659 131.484625 486.226553 131.180477 486.226553 130.863294"
        />
        <polygon
          fill="#FFF"
          points="487.535 110.404 483.484 117.481 487.442 117.203 478.893 126.098 482.567 119.209 478.431 119.498"
        />
      </g>
      <g id="info-icon-3-2">
        <polygon
          fill="#1D1D1B"
          points="606.419 267.849 636.012 267.849 636.012 238.23 606.419 238.23"
        />
        <path
          fill="#FFF"
          d="M625.685289,260.976356 L630.082943,261.140017 C630.476547,261.040083 631.995973,260.534618 631.800618,258.809664 C631.543039,256.916705 629.443337,256.431516 629.130769,256.369238 L626.80677,256.302616 L616.62372,245.163557 L612.22896,245.001345 C611.836803,245.10128 610.314483,245.606745 610.511285,247.33025 C610.79057,249.423078 613.197052,249.834402 613.221652,249.837298 L615.43712,249.828608 L625.685289,260.976356 Z M630.210285,262.594134 L625.029765,262.401507 L614.801855,251.276932 L613.107333,251.276932 C611.786156,251.074167 609.412957,250.038615 609.074342,247.508394 C608.779139,244.910101 610.871606,243.793443 612.019135,243.564608 L612.101618,243.547228 L617.282138,243.738407 L627.460847,254.871672 L629.320336,254.931053 C629.462149,254.955674 632.813569,255.526314 633.236114,258.630072 C633.532764,261.231261 631.441744,262.347919 630.294216,262.576754 L630.210285,262.594134 Z"
        />
        <path
          fill="#FFF"
          d="M622.398987,248.300627 L622.636307,248.300627 C622.220997,248.300627 621.985124,247.827025 621.985124,247.23466 C621.985124,246.701677 622.458317,246.109313 623.05017,246.109313 C623.642022,246.109313 624.115215,246.701677 624.115215,247.23466 C624.115215,247.827025 623.820012,248.300627 623.404703,248.300627 L623.582692,248.300627 L623.582692,251.559355 L622.99084,251.143686 L622.398987,250.551322 L622.398987,248.300627 Z"
        />
      </g>

      <g id="info-icon-2-1">
        <polygon
          fill="#1D1D1B"
          points="514.326 302.387 543.918 302.387 543.918 272.769 514.326 272.769"
        />
        <path
          stroke="#FFF"
          stroke-width="1.447"
          d="M537.947825,294.358771 C537.947825,295.488463 537.024593,296.411046 535.897323,296.411046 L522.348381,296.411046 C521.219665,296.411046 520.297879,295.488463 520.297879,294.358771 L520.297879,280.798115 C520.297879,279.669871 521.219665,278.745841 522.348381,278.745841 L535.897323,278.745841 C537.024593,278.745841 537.947825,279.669871 537.947825,280.798115 L537.947825,294.358771 Z"
        />
        <path
          fill="#FFF"
          d="M522.753562 284.009049 522.753562 288.800104C522.753562 289.066596 522.969175 289.282396 523.235437 289.282396 523.501698 289.282396 523.717312 289.066596 523.717312 288.800104L523.717312 284.973633 524.268647 284.973633 524.268647 293.730198C524.268647 293.99669 524.484261 294.21249 524.750522 294.21249 525.016783 294.21249 525.232397 293.99669 525.232397 293.730198L525.232397 289.110046 525.773602 289.110046 525.773602 293.730198C525.773602 293.99669 525.989216 294.21249 526.255478 294.21249 526.521739 294.21249 526.737353 293.99669 526.737353 293.730198L526.737353 284.973633 527.288687 284.973633 527.288687 288.800104C527.288687 289.066596 527.504301 289.282396 527.770563 289.282396 528.036824 289.282396 528.252438 289.066596 528.252438 288.800104L528.252438 284.009049 522.753562 284.009049ZM525.504447 283.536896C526.133923 283.536896 526.643293 283.027086 526.643293 282.397065 526.643293 281.767044 526.133923 281.257234 525.504447 281.257234 524.87497 281.257234 524.365601 281.767044 524.365601 282.397065 524.365601 283.027086 524.87497 283.536896 525.504447 283.536896"
        />
        <polygon
          fill="#FFF"
          points="530.33 286.581 532.741 282.119 535.151 286.581"
        />
        <polygon
          fill="#FFF"
          points="535.151 288.888 532.74 293.351 530.33 288.888"
        />
      </g>
      <g id="info-icon-12-2">
        <polygon
          fill="#1D1D1B"
          points="567.548 317.196 597.14 317.196 597.14 287.578 567.548 287.578"
        />
        <path
          fill="#FFF"
          d="M581.186357,298.52415 C581.4121,298.57629 581.672573,298.59367 582.071965,298.59367 C583.477073,298.59367 584.345316,297.882543 584.345316,296.70071 C584.345316,295.623158 583.598627,294.98155 582.262979,294.98155 C581.742033,294.98155 581.37737,295.014862 581.186357,295.067001 L581.186357,298.52415 Z M578.565708,293.208802 C579.381857,293.069763 580.526492,292.965483 582.141425,292.965483 C583.772276,292.965483 584.935722,293.278321 585.715694,293.903997 C586.479749,294.494913 586.965965,295.468187 586.965965,296.613811 C586.965965,297.760883 586.601303,298.750089 585.889343,299.393144 C584.98637,300.227379 583.650722,300.625668 582.08933,300.625668 C581.742033,300.625668 581.429465,300.608288 581.186357,300.556148 L581.186357,304.760632 L578.565708,304.760632 L578.565708,293.208802 Z"
        />
        <path
          fill="#FFF"
          d="M577.61064,290.778515 C575.748258,290.778515 574.233173,292.29491 574.233173,294.158902 L574.233173,310.616205 C574.233173,312.480198 575.748258,313.998041 577.61064,313.998041 L587.07739,313.998041 C588.939772,313.998041 590.454857,312.480198 590.454857,310.616205 L590.454857,294.158902 C590.454857,292.29491 588.939772,290.778515 587.07739,290.778515 L577.61064,290.778515 Z M587.07739,315.446365 L577.61064,315.446365 C574.949474,315.446365 572.7861,313.279673 572.7861,310.616205 L572.7861,294.158902 C572.7861,291.496883 574.949474,289.330191 577.61064,289.330191 L587.07739,289.330191 C589.738556,289.330191 591.90193,291.496883 591.90193,294.158902 L591.90193,310.616205 C591.90193,313.279673 589.738556,315.446365 587.07739,315.446365 L587.07739,315.446365 Z"
        />
        <path
          fill="#FFF"
          d="M587.119355,310.319299 C587.049895,310.426475 586.93413,310.485856 586.814022,310.485856 C586.747457,310.485856 586.679445,310.468476 586.620115,310.429371 L584.997946,309.39382 L584.997946,306.978016 C584.997946,306.779596 585.160018,306.615935 585.359714,306.615935 C585.55941,306.615935 585.721483,306.779596 585.721483,306.978016 L585.721483,308.998428 L587.00793,309.818179 C587.177238,309.926803 587.226438,310.149845 587.119355,310.319299 M585.359714,306.178541 C583.694134,306.178541 582.344015,307.529827 582.344015,309.196848 C582.344015,310.86242 583.694134,312.213706 585.359714,312.213706 C587.023848,312.213706 588.373967,310.86242 588.373967,309.196848 C588.373967,307.529827 587.023848,306.178541 585.359714,306.178541"
        />
      </g>
      <g id="info-icon-12-1">
        <polygon
          fill="#1D1D1B"
          points="599.312 305.928 628.905 305.928 628.905 276.31 599.312 276.31"
        />
        <path
          fill="#FFF"
          d="M612.951049,287.256191 C613.176793,287.308331 613.437266,287.325711 613.836658,287.325711 C615.241765,287.325711 616.110009,286.614584 616.110009,285.432752 C616.110009,284.355199 615.36332,283.713591 614.027671,283.713591 C613.506725,283.713591 613.142063,283.746903 612.951049,283.799042 L612.951049,287.256191 Z M610.330401,281.940843 C611.14655,281.801804 612.291184,281.697525 613.906117,281.697525 C615.536968,281.697525 616.700415,282.010362 617.480387,282.636038 C618.244441,283.226954 618.730658,284.200228 618.730658,285.345852 C618.730658,286.492925 618.365995,287.48213 617.654036,288.125185 C616.751062,288.95942 615.415414,289.357709 613.854023,289.357709 C613.506725,289.357709 613.194158,289.340329 612.951049,289.288189 L612.951049,293.492673 L610.330401,293.492673 L610.330401,281.940843 Z"
        />
        <path
          fill="#FFF"
          d="M609.375333,279.510556 C607.51295,279.510556 605.997865,281.026951 605.997865,282.890943 L605.997865,299.348246 C605.997865,301.212239 607.51295,302.730082 609.375333,302.730082 L618.842082,302.730082 C620.704465,302.730082 622.21955,301.212239 622.21955,299.348246 L622.21955,282.890943 C622.21955,281.026951 620.704465,279.510556 618.842082,279.510556 L609.375333,279.510556 Z M618.842082,304.178406 L609.375333,304.178406 C606.714166,304.178406 604.550792,302.011714 604.550792,299.348246 L604.550792,282.890943 C604.550792,280.228924 606.714166,278.062232 609.375333,278.062232 L618.842082,278.062232 C621.503249,278.062232 623.666623,280.228924 623.666623,282.890943 L623.666623,299.348246 C623.666623,302.011714 621.503249,304.178406 618.842082,304.178406 L618.842082,304.178406 Z"
        />
        <path
          fill="#FFF"
          d="M618.8826,299.05134 C618.813141,299.158516 618.697375,299.217897 618.577268,299.217897 C618.510703,299.217897 618.44269,299.200517 618.38336,299.161413 L616.761192,298.125861 L616.761192,295.710057 C616.761192,295.511637 616.923264,295.347976 617.12296,295.347976 C617.322656,295.347976 617.484728,295.511637 617.484728,295.710057 L617.484728,297.730469 L618.771176,298.55022 C618.940483,298.658844 618.989684,298.881886 618.8826,299.05134 M617.12296,294.910582 C615.457379,294.910582 614.10726,296.261868 614.10726,297.928889 C614.10726,299.594461 615.457379,300.945747 617.12296,300.945747 C618.787094,300.945747 620.137212,299.594461 620.137212,297.928889 C620.137212,296.261868 618.787094,294.910582 617.12296,294.910582"
        />
      </g>
      <path
        fill="#1D1D1D"
        d="M679.406416 97.4808795C681.270245 97.4808795 682.506045 95.8384804 682.506045 93.8108271L682.506045 93.7905506C682.506045 91.7628973 681.280375 90.1407747 679.426675 90.1407747 677.562845 90.1407747 676.327045 91.7831738 676.327045 93.8108271L676.327045 93.8311036C676.327045 95.8587569 677.542586 97.4808795 679.406416 97.4808795ZM679.426675 96.3555319C678.322558 96.3555319 677.613492 95.2099078 677.613492 93.8108271L677.613492 93.7905506C677.613492 92.3813315 678.312429 91.2661222 679.406416 91.2661222 680.500402 91.2661222 681.219598 92.4117463 681.219598 93.8108271L681.219598 93.8311036C681.219598 95.2200461 680.530791 96.3555319 679.426675 96.3555319ZM686.74018 97.4808795C688.60401 97.4808795 689.83981 95.8384804 689.83981 93.8108271L689.83981 93.7905506C689.83981 91.7628973 688.614139 90.1407747 686.760439 90.1407747 684.896609 90.1407747 683.660809 91.7831738 683.660809 93.8108271L683.660809 93.8311036C683.660809 95.8587569 684.87635 97.4808795 686.74018 97.4808795ZM686.760439 96.3555319C685.656322 96.3555319 684.947257 95.2099078 684.947257 93.8108271L684.947257 93.7905506C684.947257 92.3813315 685.646193 91.2661222 686.74018 91.2661222 687.834167 91.2661222 688.553362 92.4117463 688.553362 93.8108271L688.553362 93.8311036C688.553362 95.2200461 687.864555 96.3555319 686.760439 96.3555319Z"
      />
      <polygon
        fill="#1D1D1D"
        points="692.22 97.359 693.456 97.359 693.456 90.212 692.595 90.212 690.681 90.82 690.944 91.834 692.22 91.479"
      />
    </g>
  </svg>
</div>
