<div
  aria-labelledby="floor3-map-tab"
  class="tab-pane fade shops-map"
  id="floor3-map"
  role="tabpanel"
>
  <svg
    width="849"
    height="477"
    viewBox="0 0 849 477"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <style type="text/css">
      #floor2-map image,
      polygon[fill="#1D1D1D"],
      path[fill="#1D1D1D"] {
        pointer-events: none;
      }

      [class^="st"] {
        stroke: #c8c8c8;
        stroke-width: 0.11;
        stroke-linecap: round;
        stroke-linejoin: round;
      }

      .st23 {
        fill: #8f6dad;
      }

      .st30 {
        fill: #7c5e95;
      }

      .st24 {
        fill: #8566a1;
      }
    </style>
    <mask
      id="mask0_1_15"
      style="mask-type: luminance"
      maskUnits="userSpaceOnUse"
      x="0"
      y="-53"
      width="907"
      height="530"
    >
      <path d="M0 -53H907V476.307H0V-53Z" fill="white" />
    </mask>
    <g mask="url(#mask0_1_15)">
      <path
        d="M135.139 206.084C207.369 260.34 774.239 176.07 846.429 230.385C846.429 230.385 848.773 241.689 846.621 245.97C840.165 258.813 803.734 268.345 798.2 270.357C774.675 278.91 751.151 287.463 727.627 296.018C645.587 325.847 563.548 355.676 481.509 385.505C445.434 398.622 409.361 411.737 373.286 424.854C357.113 430.734 340.344 438.994 322.922 438.64C302.94 438.234 290.605 427.343 275.184 415.74C242.988 391.516 210.79 367.292 178.593 343.066C121.442 300.067 64.2901 257.067 7.13925 214.067V201.432L135.139 206.084Z"
        fill="#CFD0CF"
      />
      <path
        d="M634.625 64.3504C667.622 89.1767 700.62 114.003 733.617 138.83C757.219 156.588 780.822 174.347 804.424 192.104C816.247 201 829.663 209.163 840.578 219.306C866.246 243.159 800.986 254.316 786.249 260.396C761.148 270.755 737.778 279.713 712.297 288.977C608.12 326.856 501.898 363.981 397.721 401.859C375.258 410.027 350.488 423.454 326.238 424.532C299.419 425.722 282.398 408.486 261.862 393.033C179.008 330.697 96.1552 268.359 13.3025 206.022C11.2693 204.492 9.23489 202.962 7.20169 201.432L552.951 3L634.625 64.3504Z"
        fill="#EDEDED"
      />
      <path
        d="M668.084 144.531C648.64 129.902 630.595 111.432 605.688 109.747C592.946 108.885 563.141 113.182 556.232 126.794L556.047 127.929L556.21 129.076C564.774 144.613 589.225 132.316 602.429 138.847C619.8 147.438 637.45 161.127 652.951 172.966C659.342 177.848 665.797 182.903 670.182 189.994C675.956 199.332 676.252 209.504 666.347 215.881C663.944 207.869 658.676 200.985 652.812 195.447C636.272 179.823 616.245 167.475 598.193 153.892L588.238 157.512L665.28 215.478L621.441 231.418L574.483 196.088L595.55 186.565L562.637 179.032L559.128 184.513L544.417 173.445L338.34 248.374L353.063 259.451L319.231 271.752L304.508 260.676L290.785 265.664C259.554 264.421 224.287 257.512 193.273 264.871C180.336 267.94 160.943 281.786 179.305 294.525C189.951 301.912 204.541 298.52 215.494 293.972L293.036 352.313C286.644 354.638 274.939 355.723 271.418 362.643L271.43 363.31C275.57 371.103 286.922 376.326 293.709 381.431L298.095 368.36L322.486 370.709L326.735 358.051L351.239 360.411L355.585 347.457L380.201 349.829L384.489 337.051L408.88 339.401L413.167 326.624L437.783 328.995L442.092 316.159L466.258 318.486L470.546 305.709L494.938 308.058L499.185 295.399L523.69 297.76L528.036 284.806L552.765 287.188L557.053 274.411L581.669 276.782L586.056 263.711C614.117 261.574 642.179 259.438 670.242 257.301C690.553 255.754 712.183 255.969 731.635 248.826C753.365 240.846 769.456 224.255 748.338 205.184C728.102 186.908 704.485 171.919 682.807 155.609L647.187 168.56L632.464 157.482L668.084 144.531Z"
        fill="#BCBDBD"
      />
      <path
        d="M595.704 188.372L565.601 165.723L565.663 153.087L595.766 175.735L595.704 188.372Z"
        fill="#7D7E7E"
      />
      <path
        d="M321.306 250.155C321.306 252.783 318.531 254.893 315.109 254.866C311.686 254.839 308.911 252.687 308.911 250.059C308.911 247.43 311.686 245.32 315.109 245.347C318.531 245.374 321.306 247.526 321.306 250.155Z"
        fill="#BCBDBD"
      />
      <path
        d="M314.182 222.787V249.472C314.182 250.017 314.66 250.463 315.25 250.468C315.839 250.472 316.317 250.034 316.317 249.488V222.804L314.182 222.787Z"
        fill="#959595"
      />
      <path
        d="M345.212 241.338C345.212 243.966 342.437 246.076 339.015 246.049C335.592 246.022 332.817 243.87 332.817 241.242C332.817 238.613 335.592 236.503 339.015 236.53C342.437 236.557 345.212 238.709 345.212 241.338Z"
        fill="#BCBDBD"
      />
      <path
        d="M338.088 213.97V240.655C338.088 241.201 338.566 241.646 339.156 241.651C339.745 241.655 340.223 241.217 340.223 240.671V213.987L338.088 213.97Z"
        fill="#959595"
      />
      <path
        d="M369.118 232.521C369.118 235.15 366.343 237.259 362.921 237.232C359.498 237.205 356.723 235.053 356.723 232.425C356.723 229.796 359.498 227.686 362.921 227.713C366.343 227.74 369.118 229.893 369.118 232.521Z"
        fill="#BCBDBD"
      />
      <path
        d="M361.994 205.154V231.838C361.994 232.384 362.472 232.829 363.062 232.834C363.651 232.838 364.129 232.4 364.129 231.855V205.17L361.994 205.154Z"
        fill="#959595"
      />
      <path
        d="M393.024 223.704C393.024 226.333 390.249 228.442 386.827 228.415C383.404 228.389 380.629 226.236 380.629 223.608C380.629 220.979 383.404 218.87 386.827 218.897C390.249 218.924 393.024 221.076 393.024 223.704Z"
        fill="#BCBDBD"
      />
      <path
        d="M385.9 196.337V223.021C385.9 223.567 386.378 224.012 386.968 224.018C387.557 224.021 388.035 223.584 388.035 223.038V196.354L385.9 196.337Z"
        fill="#959595"
      />
      <path
        d="M416.93 214.887C416.93 217.516 414.155 219.625 410.733 219.599C407.31 219.572 404.535 217.419 404.535 214.791C404.535 212.162 407.31 210.053 410.733 210.08C414.155 210.107 416.93 212.259 416.93 214.887Z"
        fill="#BCBDBD"
      />
      <path
        d="M409.806 187.52V214.204C409.806 214.75 410.284 215.195 410.874 215.201C411.464 215.204 411.941 214.767 411.941 214.221V187.537L409.806 187.52Z"
        fill="#959595"
      />
      <path
        d="M440.836 206.07C440.836 208.699 438.061 210.809 434.639 210.782C431.216 210.755 428.441 208.603 428.441 205.974C428.441 203.346 431.216 201.236 434.639 201.263C438.061 201.29 440.836 203.442 440.836 206.07Z"
        fill="#BCBDBD"
      />
      <path
        d="M433.712 178.703V205.387C433.712 205.933 434.19 206.379 434.78 206.384C435.369 206.388 435.847 205.95 435.847 205.404V178.72L433.712 178.703Z"
        fill="#959595"
      />
      <path
        d="M464.742 197.254C464.742 199.882 461.967 201.992 458.545 201.965C455.122 201.938 452.347 199.786 452.347 197.157C452.347 194.529 455.122 192.419 458.545 192.446C461.967 192.473 464.742 194.625 464.742 197.254Z"
        fill="#BCBDBD"
      />
      <path
        d="M457.618 169.886V196.57C457.618 197.116 458.096 197.562 458.686 197.567C459.276 197.571 459.753 197.133 459.753 196.587V169.903L457.618 169.886Z"
        fill="#959595"
      />
      <path
        d="M488.648 188.437C488.648 191.065 485.873 193.175 482.451 193.148C479.028 193.121 476.253 190.969 476.253 188.34C476.253 185.712 479.028 183.602 482.451 183.629C485.873 183.656 488.648 185.808 488.648 188.437Z"
        fill="#BCBDBD"
      />
      <path
        d="M481.524 161.069V187.753C481.524 188.299 482.002 188.745 482.592 188.75C483.181 188.754 483.659 188.316 483.659 187.77V161.086L481.524 161.069Z"
        fill="#959595"
      />
      <path
        d="M512.554 179.62C512.554 182.248 509.779 184.358 506.357 184.331C502.934 184.304 500.159 182.152 500.159 179.523C500.159 176.895 502.934 174.785 506.357 174.812C509.779 174.839 512.554 176.991 512.554 179.62Z"
        fill="#BCBDBD"
      />
      <path
        d="M505.43 152.252V178.937C505.43 179.482 505.908 179.928 506.498 179.933C507.088 179.937 507.566 179.499 507.566 178.953V152.269L505.43 152.252Z"
        fill="#959595"
      />
      <path
        d="M536.46 170.803C536.46 173.431 533.685 175.541 530.263 175.514C526.84 175.487 524.065 173.335 524.065 170.707C524.065 168.078 526.84 165.968 530.263 165.995C533.685 166.022 536.46 168.174 536.46 170.803Z"
        fill="#BCBDBD"
      />
      <path
        d="M529.336 143.435V170.12C529.336 170.665 529.814 171.111 530.404 171.116C530.994 171.12 531.471 170.682 531.471 170.136V143.452L529.336 143.435Z"
        fill="#959595"
      />
      <path
        d="M560.327 161.986C560.327 164.614 557.553 166.724 554.131 166.697C550.707 166.67 547.933 164.518 547.933 161.889C547.933 159.261 550.707 157.151 554.131 157.178C557.553 157.205 560.327 159.357 560.327 161.986Z"
        fill="#BCBDBD"
      />
      <path
        d="M553.204 134.618V161.303C553.204 161.848 553.682 162.294 554.271 162.299C554.861 162.303 555.339 161.865 555.339 161.319V134.635L553.204 134.618Z"
        fill="#959595"
      />
      <path
        d="M584.195 154.294C584.195 156.922 581.42 159.032 577.998 159.005C574.575 158.978 571.8 156.826 571.8 154.198C571.8 151.569 574.575 149.459 577.998 149.486C581.42 149.513 584.195 151.665 584.195 154.294Z"
        fill="#BCBDBD"
      />
      <path
        d="M577.071 126.926V153.611C577.071 154.156 577.549 154.602 578.139 154.607C578.728 154.611 579.206 154.173 579.206 153.627V126.943L577.071 126.926Z"
        fill="#959595"
      />
      <path
        d="M588.807 121.845C588.807 128.127 583.984 133.181 578.036 133.135C572.088 133.089 567.266 127.959 567.266 121.677C567.266 115.397 572.088 110.341 578.036 110.388C583.984 110.435 588.807 115.564 588.807 121.845Z"
        fill="#004E9E"
      />
      <path
        d="M573.095 118.885L571.536 119.277L571.127 117.574L573.697 116.784L575.038 116.794V126.31L573.095 126.295V118.885Z"
        fill="white"
      />
      <path
        d="M576.702 124.852L578.057 123.5C578.671 124.233 579.311 124.642 580.218 124.649C580.958 124.655 581.484 124.213 581.484 123.512V123.485C581.484 122.715 580.831 122.278 579.731 122.271L578.914 122.264L578.607 120.939L580.742 118.688L577.226 118.66V116.879L583.272 116.926V118.492L581.009 120.755C582.224 120.98 583.413 121.665 583.413 123.419V123.446C583.413 125.228 582.187 126.527 580.192 126.512C578.582 126.499 577.47 125.816 576.702 124.852Z"
        fill="white"
      />
      <path
        d="M564.901 129.537C564.901 135.818 560.078 140.873 554.13 140.826C548.182 140.78 543.36 135.65 543.36 129.369C543.36 123.088 548.182 118.033 554.13 118.079C560.078 118.127 564.901 123.255 564.901 129.537Z"
        fill="#004E9E"
      />
      <path
        d="M548.99 126.504L547.431 126.897L547.022 125.193L549.591 124.403L550.933 124.414V133.929L548.99 133.915V126.504Z"
        fill="white"
      />
      <path
        d="M557.198 130.253V127.31L554.821 130.235L557.198 130.253ZM557.198 131.94L552.827 131.906L552.508 130.433L557.416 124.464L559.078 124.477V130.267L560.279 130.277V131.963L559.078 131.954V133.992L557.198 133.978V131.94Z"
        fill="white"
      />
      <path
        d="M540.995 138.354C540.995 144.635 536.172 149.689 530.224 149.643C524.276 149.597 519.454 144.467 519.454 138.185C519.454 131.905 524.276 126.85 530.224 126.896C536.172 126.943 540.995 132.072 540.995 138.354Z"
        fill="#004E9E"
      />
      <path
        d="M525.35 135.394L523.791 135.786L523.382 134.083L525.951 133.293L527.293 133.303V142.818L525.35 142.804V135.394Z"
        fill="white"
      />
      <path
        d="M529.021 141.577L530.21 140.087C530.887 140.741 531.551 141.124 532.344 141.13C533.265 141.138 533.84 140.669 533.84 139.832V139.805C533.84 138.996 533.188 138.518 532.255 138.511C531.692 138.507 531.182 138.665 530.76 138.851L529.623 138.044L529.877 133.391L535.373 133.433V135.255L531.565 135.226L531.463 136.858C531.82 136.767 532.14 136.701 532.639 136.705C534.376 136.719 535.77 137.621 535.77 139.754V139.781C535.77 141.777 534.427 143.036 532.37 143.02C530.939 143.009 529.89 142.46 529.021 141.577Z"
        fill="white"
      />
      <path
        d="M517.089 147.171C517.089 153.452 512.266 158.506 506.318 158.46C500.37 158.414 495.548 153.284 495.548 147.002C495.548 140.722 500.37 135.667 506.318 135.713C512.266 135.76 517.089 140.889 517.089 147.171Z"
        fill="#004E9E"
      />
      <path
        d="M501.311 144.209L499.752 144.602L499.343 142.898L501.913 142.109L503.254 142.119V151.634L501.311 151.62V144.209Z"
        fill="white"
      />
      <path
        d="M510.223 148.679V148.652C510.223 147.856 509.634 147.27 508.664 147.263C507.692 147.255 507.129 147.817 507.129 148.615V148.642C507.129 149.438 507.718 150.049 508.688 150.057C509.661 150.065 510.223 149.488 510.223 148.679ZM506.183 150.807C505.532 150.113 505.123 149.098 505.123 147.222V147.195C505.123 144.28 506.375 142.049 509.047 142.07C510.262 142.079 511.053 142.463 511.846 143.131L510.811 144.729C510.223 144.252 509.75 143.964 508.983 143.959C507.871 143.95 507.309 144.891 507.18 146.131C507.628 145.825 508.153 145.532 509.035 145.538C510.811 145.552 512.178 146.601 512.178 148.573V148.599C512.178 150.529 510.709 151.855 508.766 151.839C507.602 151.83 506.81 151.473 506.183 150.807Z"
        fill="white"
      />
      <path
        d="M493.183 155.988C493.183 162.269 488.36 167.323 482.412 167.277C476.464 167.231 471.642 162.101 471.642 155.819C471.642 149.539 476.464 144.484 482.412 144.53C488.36 144.577 493.183 149.706 493.183 155.988Z"
        fill="#004E9E"
      />
      <path
        d="M477.804 153.029L476.245 153.422L475.836 151.718L478.406 150.929L479.747 150.939V160.455L477.804 160.44V153.029Z"
        fill="white"
      />
      <path
        d="M486 152.85L481.795 152.817V151.022L488.237 151.072V152.638L484.223 160.489L481.999 160.472L486 152.85Z"
        fill="white"
      />
      <path
        d="M469.277 164.804C469.277 171.086 464.454 176.14 458.506 176.094C452.558 176.048 447.736 170.918 447.736 164.636C447.736 158.356 452.558 153.3 458.506 153.347C464.454 153.394 469.277 158.523 469.277 164.804Z"
        fill="#004E9E"
      />
      <path
        d="M453.699 161.845L452.14 162.238L451.731 160.534L454.3 159.744L455.642 159.754V169.269L453.699 169.255V161.845Z"
        fill="white"
      />
      <path
        d="M462.125 162.585V162.558C462.125 161.978 461.652 161.447 460.847 161.441C460.042 161.436 459.569 161.944 459.569 162.525V162.552C459.569 163.213 460.067 163.716 460.847 163.723C461.626 163.729 462.125 163.246 462.125 162.585ZM462.394 166.568V166.541C462.394 165.813 461.742 165.377 460.847 165.369C459.952 165.363 459.3 165.789 459.3 166.518V166.545C459.3 167.192 459.875 167.724 460.847 167.732C461.819 167.738 462.394 167.231 462.394 166.568ZM457.396 166.692V166.665C457.396 165.518 457.894 164.846 458.84 164.396C458.15 163.945 457.702 163.334 457.702 162.322V162.295C457.702 160.85 458.955 159.713 460.847 159.728C462.738 159.742 463.992 160.886 463.992 162.344V162.371C463.992 163.382 463.544 163.986 462.853 164.426C463.76 164.934 464.298 165.545 464.298 166.665V166.692C464.298 168.447 462.828 169.461 460.847 169.446C458.865 169.43 457.396 168.339 457.396 166.692Z"
        fill="white"
      />
      <path
        d="M445.371 173.621C445.371 179.903 440.548 184.957 434.6 184.911C428.652 184.865 423.83 179.735 423.83 173.453C423.83 167.173 428.652 162.117 434.6 162.163C440.548 162.211 445.371 167.34 445.371 173.621Z"
        fill="#004E9E"
      />
      <path
        d="M429.793 170.662L428.234 171.054L427.825 169.35L430.393 168.561L431.736 168.571V178.087L429.793 178.072V170.662Z"
        fill="white"
      />
      <path
        d="M438.679 171.784V171.757C438.679 170.919 438.09 170.308 437.108 170.3C436.135 170.293 435.585 170.882 435.585 171.719V171.746C435.585 172.582 436.174 173.168 437.144 173.175C438.117 173.183 438.679 172.594 438.679 171.784ZM433.835 177.145L434.87 175.573C435.522 176.131 436.072 176.393 436.825 176.398C437.925 176.407 438.512 175.534 438.64 174.267C438.206 174.655 437.605 174.906 436.825 174.901C434.883 174.886 433.63 173.742 433.63 171.825V171.798C433.63 169.895 435.023 168.503 437.043 168.518C438.245 168.527 438.947 168.843 439.625 169.563C440.263 170.244 440.685 171.272 440.685 173.136V173.163C440.685 176.226 439.318 178.308 436.774 178.287C435.471 178.278 434.588 177.812 433.835 177.145Z"
        fill="white"
      />
      <path
        d="M421.465 182.438C421.465 188.72 416.642 193.774 410.694 193.728C404.746 193.681 399.924 188.552 399.924 182.27C399.924 175.989 404.746 170.934 410.694 170.98C416.642 171.028 421.465 176.156 421.465 182.438Z"
        fill="#004E9E"
      />
      <path
        d="M402.706 185.217L405.684 182.663C406.797 181.698 407.231 181.19 407.231 180.407C407.231 179.611 406.732 179.174 406.029 179.169C405.339 179.164 404.867 179.566 404.202 180.423L402.821 179.238C403.703 177.977 404.559 177.295 406.157 177.308C408.01 177.322 409.237 178.478 409.237 180.247V180.274C409.237 181.853 408.471 182.631 406.885 183.914L405.428 185.09L409.327 185.121V186.916L402.706 186.864V185.217Z"
        fill="white"
      />
      <path
        d="M416.668 182.275V182.248C416.668 180.534 415.875 179.232 414.7 179.223C413.523 179.214 412.757 180.463 412.757 182.191V182.217C412.757 183.946 413.536 185.234 414.724 185.243C415.912 185.253 416.668 183.99 416.668 182.275ZM410.736 182.229V182.202C410.736 179.462 412.347 177.329 414.724 177.347C417.09 177.366 418.686 179.498 418.686 182.237V182.264C418.686 185.004 417.09 187.138 414.7 187.119C412.309 187.101 410.736 184.969 410.736 182.229Z"
        fill="white"
      />
      <path
        d="M397.559 191.255C397.559 197.537 392.736 202.591 386.788 202.544C380.84 202.498 376.018 197.368 376.018 191.087C376.018 184.806 380.84 179.751 386.788 179.797C392.736 179.845 397.559 184.973 397.559 191.255Z"
        fill="#004E9E"
      />
      <path
        d="M380.665 194.048L383.643 191.494C384.755 190.53 385.189 190.021 385.189 189.238C385.189 188.442 384.691 188.005 383.988 188C383.297 187.995 382.825 188.397 382.16 189.255L380.78 188.07C381.662 186.809 382.518 186.127 384.116 186.14C385.969 186.154 387.196 187.309 387.196 189.079V189.106C387.196 190.684 386.43 191.462 384.844 192.745L383.387 193.921L387.286 193.952V195.747L380.665 195.696V194.048Z"
        fill="white"
      />
      <path
        d="M390.28 188.36L388.721 188.753L388.313 187.049L390.882 186.259L392.223 186.27V195.784L390.28 195.77V188.36Z"
        fill="white"
      />
      <path
        d="M373.653 200.072C373.653 206.354 368.83 211.408 362.882 211.361C356.934 211.315 352.112 206.185 352.112 199.904C352.112 193.623 356.934 188.568 362.882 188.614C368.83 188.662 373.653 193.79 373.653 200.072Z"
        fill="#004E9E"
      />
      <path
        d="M355.694 202.857L358.672 200.303C359.784 199.338 360.217 198.83 360.217 198.047C360.217 197.25 359.72 196.814 359.017 196.809C358.325 196.804 357.853 197.206 357.188 198.063L355.808 196.878C356.69 195.617 357.546 194.935 359.143 194.948C360.998 194.962 362.225 196.118 362.225 197.887V197.914C362.225 199.492 361.458 200.271 359.873 201.553L358.415 202.73L362.314 202.76V204.556L355.694 204.504V202.857Z"
        fill="white"
      />
      <path
        d="M363.661 202.919L366.639 200.365C367.751 199.4 368.184 198.892 368.184 198.109C368.184 197.313 367.686 196.876 366.984 196.871C366.292 196.866 365.82 197.268 365.155 198.125L363.775 196.94C364.657 195.679 365.513 194.997 367.11 195.01C368.965 195.024 370.192 196.18 370.192 197.949V197.976C370.192 199.555 369.425 200.333 367.84 201.615L366.382 202.792L370.281 202.822V204.618L363.661 204.566V202.919Z"
        fill="white"
      />
      <path
        d="M349.747 208.889C349.747 215.17 344.924 220.224 338.976 220.178C333.027 220.132 328.206 215.002 328.206 208.72C328.206 202.44 333.027 197.385 338.976 197.431C344.924 197.478 349.747 202.607 349.747 208.889Z"
        fill="#004E9E"
      />
      <path
        d="M331.787 211.674L334.765 209.12C335.878 208.155 336.311 207.647 336.311 206.864C336.311 206.067 335.814 205.631 335.111 205.626C334.42 205.621 333.947 206.023 333.282 206.88L331.902 205.695C332.783 204.434 333.639 203.752 335.237 203.765C337.092 203.779 338.319 204.935 338.319 206.704V206.731C338.319 208.309 337.551 209.088 335.967 210.37L334.509 211.547L338.407 211.577V213.373L331.787 213.321V211.674Z"
        fill="white"
      />
      <path
        d="M339.613 211.91L340.968 210.558C341.582 211.291 342.221 211.701 343.128 211.708C343.869 211.714 344.394 211.272 344.394 210.571V210.544C344.394 209.775 343.741 209.337 342.642 209.329L341.825 209.323L341.517 207.998L343.652 205.747L340.137 205.719V203.938L346.183 203.985V205.55L343.92 207.814C345.135 208.039 346.324 208.723 346.324 210.477V210.504C346.324 212.287 345.097 213.586 343.103 213.571C341.493 213.558 340.38 212.875 339.613 211.91Z"
        fill="white"
      />
      <path
        d="M325.841 217.706C325.841 223.987 321.018 229.041 315.07 228.995C309.122 228.949 304.3 223.819 304.3 217.537C304.3 211.257 309.122 206.202 315.07 206.248C321.018 206.295 325.841 211.424 325.841 217.706Z"
        fill="#004E9E"
      />
      <path
        d="M307.881 220.491L310.859 217.937C311.972 216.972 312.406 216.464 312.406 215.68C312.406 214.884 311.907 214.448 311.205 214.443C310.514 214.437 310.042 214.839 309.377 215.697L307.997 214.512C308.878 213.251 309.734 212.569 311.332 212.582C313.186 212.596 314.412 213.752 314.412 215.521V215.548C314.412 217.126 313.646 217.904 312.061 219.187L310.604 220.363L314.502 220.394V222.189L307.881 222.138V220.491Z"
        fill="white"
      />
      <path
        d="M320.117 218.508V215.564L317.74 218.49L320.117 218.508ZM320.117 220.195L315.746 220.16L315.427 218.687L320.335 212.719L321.997 212.732V218.522L323.198 218.532V220.218L321.997 220.209V222.247L320.117 222.233V220.195Z"
        fill="white"
      />
      <path
        d="M297.4 258.972C297.4 261.6 294.625 263.71 291.203 263.683C287.78 263.656 285.005 261.504 285.005 258.875C285.005 256.247 287.78 254.137 291.203 254.164C294.625 254.191 297.4 256.343 297.4 258.972Z"
        fill="#BCBDBD"
      />
      <path
        d="M290.276 231.604V258.289C290.276 258.834 290.754 259.28 291.344 259.285C291.933 259.289 292.411 258.851 292.411 258.305V231.621L290.276 231.604Z"
        fill="#959595"
      />
      <path
        d="M301.935 226.522C301.935 232.804 297.112 237.858 291.164 237.812C285.215 237.766 280.394 232.636 280.394 226.354C280.394 220.074 285.215 215.018 291.164 215.065C297.112 215.112 301.935 220.241 301.935 226.522Z"
        fill="#004E9E"
      />
      <path
        d="M283.975 229.307L286.953 226.753C288.066 225.789 288.5 225.281 288.5 224.497C288.5 223.701 288.001 223.265 287.298 223.259C286.607 223.254 286.136 223.656 285.471 224.514L284.09 223.329C284.972 222.068 285.828 221.386 287.426 221.399C289.279 221.413 290.506 222.569 290.506 224.338V224.365C290.506 225.943 289.74 226.721 288.154 228.004L286.697 229.18L290.596 229.211V231.006L283.975 230.955V229.307Z"
        fill="white"
      />
      <path
        d="M291.865 229.761L293.053 228.271C293.731 228.925 294.395 229.307 295.188 229.314C296.109 229.322 296.684 228.853 296.684 228.016V227.989C296.684 227.18 296.032 226.702 295.098 226.694C294.536 226.69 294.026 226.848 293.604 227.035L292.467 226.228L292.721 221.575L298.217 221.617V223.439L294.409 223.41L294.307 225.042C294.664 224.951 294.984 224.885 295.483 224.889C297.22 224.903 298.614 225.804 298.614 227.937V227.964C298.614 229.961 297.271 231.219 295.214 231.204C293.783 231.192 292.734 230.644 291.865 229.761Z"
        fill="white"
      />
      <g id="s301a_3_3">
        <path
          d="M563.718 177.046L554.985 169.565L555.047 156.93L569.723 167.816L569.661 180.453L563.718 177.046Z"
          class="st30"
        />
      </g>

      <path
        d="M615.522 161.667C615.522 164.296 612.747 166.405 609.325 166.378C605.902 166.351 603.127 164.199 603.127 161.571C603.127 158.942 605.902 156.833 609.325 156.86C612.747 156.887 615.522 159.039 615.522 161.667Z"
        fill="#BCBDBD"
      />
      <path
        d="M608.398 134.3V160.984C608.398 161.53 608.876 161.975 609.466 161.98C610.056 161.984 610.534 161.546 610.534 161.001V134.316L608.398 134.3Z"
        fill="#959595"
      />
      <path
        d="M620.134 129.219C620.134 135.5 615.311 140.554 609.364 140.508C603.415 140.462 598.593 135.332 598.593 129.05C598.593 122.77 603.415 117.715 609.364 117.761C615.311 117.808 620.134 122.937 620.134 129.219Z"
        fill="#004E9E"
      />
      <path
        d="M613.249 126.258L611.69 126.651L611.282 124.947L613.851 124.157L615.193 124.167V133.684L613.249 133.668V126.258Z"
        fill="white"
      />
      <path
        d="M603.129 132.225L604.484 130.873C605.098 131.606 605.737 132.016 606.645 132.022C607.385 132.028 607.91 131.587 607.91 130.886V130.859C607.91 130.09 607.257 129.652 606.158 129.644L605.341 129.638L605.033 128.312L607.169 126.061L603.653 126.033V124.252L609.699 124.3V125.865L607.436 128.129C608.651 128.353 609.84 129.038 609.84 130.792V130.819C609.84 132.601 608.613 133.901 606.619 133.885C605.009 133.872 603.896 133.189 603.129 132.225Z"
        fill="white"
      />
      <g id="s301b_3_3">
        <path
          d="M559.128 184.514L568.273 181.171L568.334 168.535L559.19 171.877L559.128 184.514Z"
          class="st24"
        />
      </g>

      <g id="s301a_3_3">
        <path
          d="M569.61 180.715L578.953 177.308L579.014 164.672L569.677 167.992L569.615 180.629L569.61 180.715Z"
          class="st24"
        />
      </g>

      <path
        d="M632.464 157.483L647.187 168.56L647.249 155.924L632.526 144.846L632.464 157.483Z"
        stroke="black"
        stroke-width="0.01"
        stroke-miterlimit="10"
      />
      <path
        d="M647.187 168.56L682.807 155.609L682.869 142.972L647.249 155.923L647.187 168.56Z"
        stroke="black"
        stroke-width="0.01"
        stroke-miterlimit="10"
      />
      <path
        d="M544.417 173.445L559.129 184.514L559.19 171.877L544.479 160.809L544.417 173.445Z"
        stroke="black"
        stroke-width="0.01"
        stroke-miterlimit="10"
      />
      <path
        d="M595.704 188.372L574.483 196.088L574.545 183.451L595.766 175.735L595.704 188.372Z"
        stroke="black"
        stroke-width="0.01"
        stroke-miterlimit="10"
      />
      <path
        d="M621.441 231.418L665.28 215.478L665.342 202.842L621.503 218.781L621.441 231.418Z"
        stroke="black"
        stroke-width="0.01"
        stroke-miterlimit="10"
      />
      <path
        d="M668.084 144.531L632.464 157.482L632.525 144.846L668.146 131.895L668.084 144.531Z"
        stroke="black"
        stroke-width="0.01"
        stroke-miterlimit="10"
      />
      <path
        d="M560.088 185.259L573.501 195.35L573.563 182.715L560.15 172.622L560.088 185.259Z"
        stroke="black"
        stroke-width="0.01"
        stroke-miterlimit="10"
      />
      <path
        d="M573.501 195.351L593.325 188.143L593.387 175.507L573.563 182.714L573.501 195.351Z"
        stroke="black"
        stroke-width="0.01"
        stroke-miterlimit="10"
      />
      <path
        d="M339.739 247.865L354.451 258.934L354.512 246.297L339.801 235.229L339.739 247.865Z"
        stroke="black"
        stroke-width="0.01"
        stroke-miterlimit="10"
      />
      <path
        d="M354.45 258.934L557.712 185.029L557.772 172.392L354.512 246.297L354.45 258.934Z"
        stroke="black"
        stroke-width="0.01"
        stroke-miterlimit="10"
      />
      <path
        d="M425.289 249.238L473.651 285.625L473.713 272.99L425.351 236.602L425.289 249.238Z"
        stroke="black"
        stroke-width="0.01"
        stroke-miterlimit="10"
      />
      <path
        d="M473.652 285.625L597.948 240.431L598.01 227.796L473.714 272.989L473.652 285.625Z"
        stroke="black"
        stroke-width="0.01"
        stroke-miterlimit="10"
      />
      <path
        d="M368.842 269.762L417.205 306.149L417.267 293.513L368.904 257.125L368.842 269.762Z"
        stroke="black"
        stroke-width="0.01"
        stroke-miterlimit="10"
      />
      <path
        d="M417.205 306.149L451.039 293.848L451.099 281.211L417.267 293.513L417.205 306.149Z"
        stroke="black"
        stroke-width="0.01"
        stroke-miterlimit="10"
      />
      <path
        d="M333.595 282.577L381.957 318.964L382.019 306.329L333.657 269.941L333.595 282.577Z"
        stroke="black"
        stroke-width="0.01"
        stroke-miterlimit="10"
      />
      <path
        d="M381.958 318.965L415.791 306.664L415.852 294.027L382.02 306.328L381.958 318.965Z"
        stroke="black"
        stroke-width="0.01"
        stroke-miterlimit="10"
      />
      <path
        d="M593.387 175.507L579.973 165.415L560.149 172.623L573.563 182.714L593.387 175.507Z"
        stroke="black"
        stroke-width="0.01"
        stroke-miterlimit="10"
      />
      <path
        d="M598.01 227.796L549.647 191.409L425.351 236.602L473.714 272.99L598.01 227.796Z"
        stroke="black"
        stroke-width="0.01"
        stroke-miterlimit="10"
      />
      <path
        d="M451.1 281.212L402.737 244.825L368.904 257.126L417.266 293.513L451.1 281.212Z"
        stroke="black"
        stroke-width="0.01"
        stroke-miterlimit="10"
      />
      <path
        d="M415.852 294.027L367.49 257.64L333.656 269.942L382.019 306.329L415.852 294.027Z"
        stroke="black"
        stroke-width="0.01"
        stroke-miterlimit="10"
      />
      <path
        d="M665.28 215.478L621.441 231.417L621.503 218.782L665.342 202.841L665.28 215.478Z"
        fill="#959595"
      />
      <path
        d="M250.209 205.048L557.089 93.4683C548.225 87.2778 536.815 88.002 527.069 90.9412C505.72 97.3821 484.777 106.319 463.791 113.949C397.811 137.94 331.832 161.929 265.852 185.919C260.275 187.946 236.334 195.702 250.209 205.048Z"
        fill="#BCBDBD"
      />
      <path
        d="M246.018 160.564L466.144 80.5261C446.05 66.3667 413.085 86.3777 394.349 93.1897C364.601 104.007 334.852 114.824 305.104 125.639C287.48 132.047 268.303 136.988 251.336 145.189C245.62 147.953 237.237 154.757 246.018 160.564Z"
        fill="#BCBDBD"
      />
      <path
        d="M354.45 258.934L339.739 247.865L339.801 235.23L354.512 246.297L354.45 258.934Z"
        fill="#7D7E7E"
      />
      <path
        d="M473.652 285.625L425.289 249.239L425.351 236.602L473.714 272.989L473.652 285.625Z"
        fill="#7D7E7E"
      />
      <path
        d="M597.948 240.432L473.652 285.626L473.713 272.989L598.01 227.795L597.948 240.432Z"
        fill="#959595"
      />
      <path
        d="M549.647 191.408L598.01 227.795L473.713 272.989L425.351 236.603L549.647 191.408Z"
        fill="#D7D8D7"
      />
      <path
        d="M231.099 369.871L161.061 317.175L161.122 304.539L231.161 357.234L231.099 369.871Z"
        fill="#7D7E7E"
      />
      <path
        d="M250.923 362.663L231.1 369.87L231.16 357.235L250.985 350.026L250.923 362.663Z"
        fill="#959595"
      />
      <path
        d="M180.946 297.331L250.985 350.027L231.161 357.234L161.123 304.538L180.946 297.331Z"
        fill="#D7D8D7"
      />
      <path
        d="M757.183 178.589L687.145 125.894L687.205 113.257L757.245 165.953L757.183 178.589Z"
        fill="#7D7E7E"
      />
      <path
        d="M777.007 171.381L757.183 178.589L757.244 165.954L777.069 158.745L777.007 171.381Z"
        fill="#959595"
      />
      <path
        d="M707.03 106.049L777.068 158.745L757.245 165.953L687.206 113.257L707.03 106.049Z"
        fill="#D7D8D7"
      />
      <path
        d="M381.958 318.965L333.595 282.578L333.657 269.942L382.02 306.328L381.958 318.965Z"
        fill="#7D7E7E"
      />
      <path
        d="M417.205 306.149L368.842 269.762L368.904 257.126L417.267 293.513L417.205 306.149Z"
        fill="#7D7E7E"
      />
      <path
        d="M451.038 293.848L417.204 306.149L417.266 293.512L451.1 281.211L451.038 293.848Z"
        fill="#959595"
      />
      <path
        d="M402.737 244.824L451.099 281.211L417.267 293.514L368.903 257.126L402.737 244.824Z"
        fill="#D7D8D7"
      />
      <path
        d="M173.555 222.89L141.315 198.634L141.376 185.997L173.617 210.253L173.555 222.89Z"
        fill="#7D7E7E"
      />
      <path
        d="M219.547 206.167L173.554 222.89L173.616 210.253L219.609 193.531L219.547 206.167Z"
        fill="#959595"
      />
      <path
        d="M187.369 169.274L219.608 193.531L173.617 210.253L141.376 185.997L187.369 169.274Z"
        fill="#D7D8D7"
      />
      <g id="ss9_3_2" class="category-4" data-disabled="false">
        <path
          d="M647.187 168.56L632.465 157.482L632.525 144.847L647.249 155.923L647.187 168.56Z"
          class="st22"
        ></path>
      </g>
      <g id="ss9_2_2" class="category-4" data-disabled="false">
        <path
          d="M682.807 155.608L647.187 168.56L647.248 155.923L682.869 142.972L682.807 155.608Z"
          class="st22"
        ></path>
      </g>
      <g id="ss9_1_1" class="category-4" data-disabled="false">
        <path
          d="M668.146 131.895L682.868 142.973L647.249 155.924L632.526 144.846L668.146 131.895Z"
          class="st21"
        ></path>
      </g>
      <g id="s301b_2_2">
        <path
          d="M559.128 184.514L544.407 173.439L544.469 160.802L559.19 171.877L559.128 184.514Z"
          class="st30"
        />
      </g>

      <g id="s301a_1_1">
        <path
          d="M564.293 153.594L579.015 164.669L569.68 168.008L555.047 156.929L555.155 156.891L564.293 153.594Z"
          class="st23"
        />
      </g>

      <g id="s301b_1_1">
        <path
          d="M553.628 157.465L544.469 160.801L559.19 171.878L568.334 168.547L553.628 157.465Z"
          class="st23"
        />
      </g>

      <path
        d="M573.501 195.351L560.088 185.259L560.149 172.623L573.563 182.714L573.501 195.351Z"
        fill="#7D7E7E"
      />
      <path
        d="M593.325 188.143L573.501 195.35L573.562 182.715L593.387 175.506L593.325 188.143Z"
        fill="#959595"
      />
      <path
        d="M579.974 165.415L593.388 175.506L573.563 182.715L560.15 172.622L579.974 165.415Z"
        fill="#D7D8D7"
      />
      <path
        d="M415.791 306.663L381.957 318.965L382.019 306.328L415.853 294.027L415.791 306.663Z"
        fill="#959595"
      />
      <path
        d="M656.541 194.189C656.541 196.818 653.766 198.928 650.344 198.901C646.921 198.874 644.146 196.722 644.146 194.093C644.146 191.465 646.921 189.355 650.344 189.382C653.766 189.409 656.541 191.561 656.541 194.189Z"
        fill="#BCBDBD"
      />
      <path
        d="M649.417 166.822V193.506C649.417 194.052 649.895 194.498 650.485 194.503C651.074 194.507 651.552 194.069 651.552 193.523V166.839L649.417 166.822Z"
        fill="#959595"
      />
      <path
        d="M661.076 161.74C661.076 168.022 656.253 173.076 650.305 173.03C644.356 172.983 639.535 167.854 639.535 161.572C639.535 155.292 644.356 150.236 650.305 150.282C656.253 150.33 661.076 155.458 661.076 161.74Z"
        fill="#004E9E"
      />
      <path
        d="M650.484 164.525L653.462 161.971C654.575 161.007 655.008 160.498 655.008 159.715C655.008 158.919 654.509 158.482 653.808 158.477C653.116 158.472 652.644 158.874 651.979 159.732L650.599 158.547C651.48 157.286 652.336 156.604 653.934 156.617C655.789 156.631 657.016 157.786 657.016 159.556V159.583C657.016 161.161 656.248 161.939 654.664 163.222L653.206 164.398L657.104 164.429V166.224L650.484 166.173V164.525Z"
        fill="white"
      />
      <path
        d="M642.456 164.762L643.811 163.41C644.425 164.143 645.064 164.553 645.972 164.559C646.713 164.565 647.238 164.125 647.238 163.423V163.396C647.238 162.627 646.584 162.189 645.485 162.181L644.668 162.175L644.36 160.849L646.496 158.598L642.98 158.57V156.789L649.026 156.837V158.402L646.763 160.666C647.978 160.89 649.167 161.575 649.167 163.329V163.356C649.167 165.138 647.94 166.438 645.946 166.422C644.336 166.409 643.223 165.726 642.456 164.762Z"
        fill="white"
      />
      <path
        d="M367.49 257.64L415.852 294.027L382.02 306.329L333.656 269.941L367.49 257.64Z"
        fill="#D7D8D7"
      />
      <path
        d="M621.441 231.418L574.483 196.088L574.545 183.451L621.503 218.781L621.441 231.418Z"
        fill="#7D7E7E"
      />
      <path
        d="M588.282 144.863L665.342 202.842L621.503 218.781L574.544 183.451L595.765 175.736L565.663 153.088L588.282 144.863Z"
        fill="#D7D8D7"
      />
      <path
        d="M557.711 185.029L354.45 258.934L354.512 246.297L557.773 172.392L557.711 185.029Z"
        fill="#959595"
      />
      <path
        d="M319.23 271.752L304.508 260.674L304.569 248.039L319.292 259.116L319.23 271.752Z"
        fill="#7D7E7E"
      />
      <path
        d="M353.063 259.45L319.23 271.752L319.292 259.115L353.125 246.814L353.063 259.45Z"
        fill="#959595"
      />
      <path
        d="M338.402 235.737L353.125 246.815L319.292 259.116L304.569 248.039L338.402 235.737Z"
        fill="#D7D8D7"
      />
      <path
        d="M315.18 390.161C315.18 392.79 312.405 394.92 308.983 394.92C305.56 394.92 302.785 392.79 302.785 390.161C302.785 387.533 305.56 385.403 308.983 385.403C312.405 385.403 315.18 387.533 315.18 390.161Z"
        fill="#BCBDBD"
      />
      <path
        d="M308.056 362.849V389.534C308.056 390.079 308.534 390.521 309.123 390.521C309.713 390.521 310.191 390.079 310.191 389.534V362.849H308.056Z"
        fill="#959595"
      />
      <path
        d="M339.086 381.158C339.086 383.787 336.311 385.917 332.889 385.917C329.466 385.917 326.691 383.787 326.691 381.158C326.691 378.53 329.466 376.4 332.889 376.4C336.311 376.4 339.086 378.53 339.086 381.158Z"
        fill="#BCBDBD"
      />
      <path
        d="M331.962 353.846V380.531C331.962 381.076 332.44 381.518 333.029 381.518C333.619 381.518 334.097 381.076 334.097 380.531V353.846H331.962Z"
        fill="#959595"
      />
      <path
        d="M362.992 372.155C362.992 374.784 360.217 376.914 356.795 376.914C353.372 376.914 350.597 374.784 350.597 372.155C350.597 369.527 353.372 367.397 356.795 367.397C360.217 367.397 362.992 369.527 362.992 372.155Z"
        fill="#BCBDBD"
      />
      <path
        d="M355.868 344.843V371.528C355.868 372.073 356.346 372.515 356.936 372.515C357.525 372.515 358.003 372.073 358.003 371.528V344.843H355.868Z"
        fill="#959595"
      />
      <path
        d="M386.898 362.027C386.898 364.656 384.123 366.786 380.701 366.786C377.278 366.786 374.503 364.656 374.503 362.027C374.503 359.399 377.278 357.268 380.701 357.268C384.123 357.268 386.898 359.399 386.898 362.027Z"
        fill="#BCBDBD"
      />
      <path
        d="M379.774 334.715V361.399C379.774 361.945 380.252 362.387 380.842 362.387C381.431 362.387 381.909 361.945 381.909 361.399V334.715H379.774Z"
        fill="#959595"
      />
      <path
        d="M410.804 353.024C410.804 355.653 408.029 357.783 404.607 357.783C401.184 357.783 398.409 355.653 398.409 353.024C398.409 350.396 401.184 348.265 404.607 348.265C408.029 348.265 410.804 350.396 410.804 353.024Z"
        fill="#BCBDBD"
      />
      <path
        d="M403.68 325.712V352.396C403.68 352.942 404.158 353.384 404.747 353.384C405.337 353.384 405.815 352.942 405.815 352.396V325.712H403.68Z"
        fill="#959595"
      />
      <path
        d="M434.71 344.021C434.71 346.65 431.935 348.78 428.513 348.78C425.09 348.78 422.315 346.65 422.315 344.021C422.315 341.393 425.09 339.262 428.513 339.262C431.935 339.262 434.71 341.393 434.71 344.021Z"
        fill="#BCBDBD"
      />
      <path
        d="M427.586 316.709V343.393C427.586 343.939 428.064 344.381 428.654 344.381C429.243 344.381 429.721 343.939 429.721 343.393V316.709H427.586Z"
        fill="#959595"
      />
      <path
        d="M458.616 333.893C458.616 336.521 455.841 338.651 452.419 338.651C448.996 338.651 446.221 336.521 446.221 333.893C446.221 331.264 448.996 329.134 452.419 329.134C455.841 329.134 458.616 331.264 458.616 333.893Z"
        fill="#BCBDBD"
      />
      <path
        d="M451.492 306.581V333.265C451.492 333.811 451.97 334.252 452.56 334.252C453.149 334.252 453.627 333.811 453.627 333.265V306.581H451.492Z"
        fill="#959595"
      />
      <path
        d="M482.522 324.89C482.522 327.518 479.747 329.648 476.325 329.648C472.902 329.648 470.127 327.518 470.127 324.89C470.127 322.261 472.902 320.131 476.325 320.131C479.747 320.131 482.522 322.261 482.522 324.89Z"
        fill="#BCBDBD"
      />
      <path
        d="M475.398 297.578V324.262C475.398 324.808 475.876 325.249 476.466 325.249C477.055 325.249 477.533 324.808 477.533 324.262V297.578H475.398Z"
        fill="#959595"
      />
      <path
        d="M506.428 314.761C506.428 317.39 503.653 319.52 500.231 319.52C496.808 319.52 494.033 317.39 494.033 314.761C494.033 312.133 496.808 310.003 500.231 310.003C503.653 310.003 506.428 312.133 506.428 314.761Z"
        fill="#BCBDBD"
      />
      <path
        d="M499.304 287.449V314.134C499.304 314.679 499.782 315.121 500.372 315.121C500.961 315.121 501.439 314.679 501.439 314.134V287.449H499.304Z"
        fill="#959595"
      />
      <path
        d="M530.334 305.758C530.334 308.387 527.559 310.517 524.137 310.517C520.714 310.517 517.939 308.387 517.939 305.758C517.939 303.13 520.714 300.999 524.137 300.999C527.559 300.999 530.334 303.13 530.334 305.758Z"
        fill="#BCBDBD"
      />
      <path
        d="M523.21 278.446V305.131C523.21 305.676 523.688 306.118 524.278 306.118C524.867 306.118 525.345 305.676 525.345 305.131V278.446H523.21Z"
        fill="#959595"
      />
      <path
        d="M554.24 295.63C554.24 298.258 551.465 300.389 548.043 300.389C544.62 300.389 541.845 298.258 541.845 295.63C541.845 293.001 544.62 290.871 548.043 290.871C551.465 290.871 554.24 293.001 554.24 295.63Z"
        fill="#BCBDBD"
      />
      <path
        d="M547.116 268.318V295.002C547.116 295.548 547.594 295.99 548.184 295.99C548.774 295.99 549.251 295.548 549.251 295.002V268.318H547.116Z"
        fill="#959595"
      />
      <path
        d="M578.146 286.627C578.146 289.255 575.371 291.386 571.949 291.386C568.526 291.386 565.751 289.255 565.751 286.627C565.751 283.998 568.526 281.868 571.949 281.868C575.371 281.868 578.146 283.998 578.146 286.627Z"
        fill="#BCBDBD"
      />
      <path
        d="M571.022 259.315V285.999C571.022 286.545 571.5 286.987 572.09 286.987C572.679 286.987 573.157 286.545 573.157 285.999V259.315H571.022Z"
        fill="#959595"
      />
      <path
        d="M582.719 255.203C582.719 261.485 577.896 266.576 571.949 266.576C566 266.576 561.179 261.485 561.179 255.203C561.179 248.922 566 243.83 571.949 243.83C577.896 243.83 582.719 248.922 582.719 255.203Z"
        fill="#004E9E"
      />
      <path
        d="M567.008 252.365L565.449 252.771L565.04 251.069L567.609 250.259H568.951V259.775H567.008V252.365Z"
        fill="white"
      />
      <path
        d="M570.756 258.128L573.734 255.551C574.847 254.579 575.281 254.066 575.281 253.282C575.281 252.487 574.782 252.054 574.079 252.054C573.389 252.054 572.917 252.459 572.252 253.323L570.871 252.149C571.753 250.881 572.609 250.192 574.207 250.192C576.06 250.192 577.287 251.339 577.287 253.107V253.134C577.287 254.714 576.521 255.497 574.935 256.793L573.479 257.979H577.377V259.775H570.756V258.128Z"
        fill="white"
      />
      <path
        d="M558.813 264.206C558.813 270.488 553.99 275.579 548.043 275.579C542.094 275.579 537.273 270.488 537.273 264.206C537.273 257.925 542.094 252.833 548.043 252.833C553.99 252.833 558.813 257.925 558.813 264.206Z"
        fill="#004E9E"
      />
      <path
        d="M544.5 261.298L542.942 261.703L542.533 260.002L545.102 259.192H546.444V268.708H544.5V261.298Z"
        fill="white"
      />
      <path
        d="M549.898 261.298L548.338 261.703L547.929 260.002L550.499 259.192H551.84V268.708H549.898V261.298Z"
        fill="white"
      />
      <path
        d="M534.907 274.335C534.907 280.616 530.084 285.708 524.137 285.708C518.188 285.708 513.366 280.616 513.366 274.335C513.366 268.053 518.188 262.962 524.137 262.962C530.084 262.962 534.907 268.053 534.907 274.335Z"
        fill="#004E9E"
      />
      <path
        d="M519.262 271.496L517.703 271.902L517.294 270.201L519.864 269.39H521.205V278.907H519.262V271.496Z"
        fill="white"
      />
      <path
        d="M529.005 274.21V274.183C529.005 272.468 528.213 271.173 527.037 271.173C525.86 271.173 525.094 272.429 525.094 274.156V274.183C525.094 275.91 525.875 277.193 527.063 277.193C528.251 277.193 529.005 275.924 529.005 274.21ZM523.074 274.21V274.183C523.074 271.442 524.684 269.297 527.063 269.297C529.428 269.297 531.024 271.415 531.024 274.156V274.183C531.024 276.922 529.428 279.069 527.037 279.069C524.648 279.069 523.074 276.95 523.074 274.21Z"
        fill="white"
      />
      <path
        d="M511.001 283.338C511.001 289.619 506.178 294.711 500.231 294.711C494.282 294.711 489.461 289.619 489.461 283.338C489.461 277.056 494.282 271.965 500.231 271.965C506.178 271.965 511.001 277.056 511.001 283.338Z"
        fill="#004E9E"
      />
      <path
        d="M501.896 281.552V281.525C501.896 280.688 501.307 280.082 500.324 280.082C499.352 280.082 498.802 280.675 498.802 281.511V281.539C498.802 282.375 499.39 282.957 500.361 282.957C501.333 282.957 501.896 282.362 501.896 281.552ZM497.051 286.952L498.087 285.372C498.738 285.926 499.288 286.182 500.043 286.182C501.141 286.182 501.729 285.304 501.857 284.035C501.423 284.427 500.822 284.684 500.043 284.684C498.1 284.684 496.847 283.55 496.847 281.633V281.606C496.847 279.703 498.239 278.3 500.26 278.3C501.461 278.3 502.165 278.61 502.841 279.326C503.481 280.001 503.902 281.026 503.902 282.889V282.916C503.902 285.98 502.536 288.071 499.992 288.071C498.687 288.071 497.805 287.613 497.051 286.952Z"
        fill="white"
      />
      <path
        d="M487.095 293.466C487.095 299.748 482.272 304.839 476.325 304.839C470.376 304.839 465.554 299.748 465.554 293.466C465.554 287.184 470.376 282.093 476.325 282.093C482.272 282.093 487.095 287.184 487.095 293.466Z"
        fill="#004E9E"
      />
      <path
        d="M477.81 291.302V291.275C477.81 290.696 477.337 290.17 476.532 290.17C475.727 290.17 475.254 290.681 475.254 291.263V291.29C475.254 291.951 475.752 292.45 476.532 292.45C477.312 292.45 477.81 291.964 477.81 291.302ZM478.078 295.284V295.257C478.078 294.529 477.427 294.097 476.532 294.097C475.638 294.097 474.985 294.529 474.985 295.257V295.284C474.985 295.933 475.56 296.459 476.532 296.459C477.503 296.459 478.078 295.946 478.078 295.284ZM473.081 295.446V295.419C473.081 294.273 473.579 293.597 474.525 293.139C473.835 292.693 473.387 292.086 473.387 291.074V291.047C473.387 289.602 474.641 288.454 476.532 288.454C478.424 288.454 479.676 289.589 479.676 291.047V291.074C479.676 292.086 479.229 292.693 478.539 293.139C479.445 293.638 479.983 294.246 479.983 295.365V295.394C479.983 297.148 478.514 298.174 476.532 298.174C474.551 298.174 473.081 297.094 473.081 295.446Z"
        fill="white"
      />
      <path
        d="M463.189 302.469C463.189 308.751 458.366 313.842 452.419 313.842C446.47 313.842 441.648 308.751 441.648 302.469C441.648 296.187 446.47 291.096 452.419 291.096C458.366 291.096 463.189 296.187 463.189 302.469Z"
        fill="#004E9E"
      />
      <path
        d="M453.54 299.388H449.335V297.593H455.778V299.159L451.764 307.041H449.539L453.54 299.388Z"
        fill="white"
      />
      <path
        d="M439.283 312.597C439.283 318.879 434.46 323.971 428.513 323.971C422.564 323.971 417.742 318.879 417.742 312.597C417.742 306.316 422.564 301.224 428.513 301.224C434.46 301.224 439.283 306.316 439.283 312.597Z"
        fill="#004E9E"
      />
      <path
        d="M429.752 314.159V314.132C429.752 313.336 429.163 312.756 428.191 312.756C427.221 312.756 426.658 313.323 426.658 314.118V314.147C426.658 314.941 427.247 315.55 428.217 315.55C429.189 315.55 429.752 314.97 429.752 314.159ZM425.712 316.319C425.06 315.631 424.65 314.619 424.65 312.743V312.715C424.65 309.8 425.904 307.559 428.576 307.559C429.789 307.559 430.582 307.937 431.374 308.598L430.34 310.206C429.752 309.733 429.279 309.449 428.511 309.449C427.4 309.449 426.838 310.395 426.709 311.635C427.157 311.325 427.681 311.029 428.562 311.029C430.34 311.029 431.707 312.066 431.707 314.039V314.064C431.707 315.994 430.237 317.331 428.295 317.331C427.131 317.331 426.339 316.981 425.712 316.319Z"
        fill="white"
      />
      <path
        d="M415.377 321.6C415.377 327.882 410.554 332.974 404.607 332.974C398.658 332.974 393.836 327.882 393.836 321.6C393.836 315.319 398.658 310.227 404.607 310.227C410.554 310.227 415.377 315.319 415.377 321.6Z"
        fill="#004E9E"
      />
      <path
        d="M400.87 324.917L402.058 323.419C402.737 324.067 403.401 324.445 404.194 324.445C405.114 324.445 405.69 323.972 405.69 323.135V323.108C405.69 322.298 405.038 321.825 404.104 321.825C403.542 321.825 403.031 321.989 402.609 322.177L401.472 321.381L401.727 316.724H407.223V318.547H403.414L403.312 320.179C403.67 320.086 403.99 320.019 404.488 320.019C406.226 320.019 407.619 320.909 407.619 323.041V323.068C407.619 325.066 406.277 326.334 404.219 326.334C402.788 326.334 401.74 325.795 400.87 324.917Z"
        fill="white"
      />
      <path
        d="M391.471 330.604C391.471 336.885 386.648 341.977 380.701 341.977C374.752 341.977 369.93 336.885 369.93 330.604C369.93 324.322 374.752 319.23 380.701 319.23C386.648 319.23 391.471 324.322 391.471 330.604Z"
        fill="#004E9E"
      />
      <path
        d="M380.637 331.45V328.508L378.259 331.45H380.637ZM380.637 333.137H376.265L375.946 331.667L380.854 325.659H382.516V331.45H383.717V333.137H382.516V335.175H380.637V333.137Z"
        fill="white"
      />
      <path
        d="M367.565 340.732C367.565 347.014 362.742 352.105 356.795 352.105C350.846 352.105 346.024 347.014 346.024 340.732C346.024 334.45 350.846 329.359 356.795 329.359C362.742 329.359 367.565 334.45 367.565 340.732Z"
        fill="#004E9E"
      />
      <path
        d="M352.928 343.832L354.282 342.47C354.897 343.198 355.536 343.602 356.443 343.602C357.185 343.602 357.709 343.158 357.709 342.456V342.429C357.709 341.66 357.056 341.228 355.957 341.228H355.14L354.832 339.904L356.967 337.637H353.452V335.856H359.498V337.422L357.235 339.703C358.45 339.918 359.639 340.594 359.639 342.348V342.375C359.639 344.156 358.412 345.466 356.418 345.466C354.808 345.466 353.695 344.79 352.928 343.832Z"
        fill="white"
      />
      <path
        d="M343.659 349.735C343.659 356.017 338.836 361.108 332.889 361.108C326.94 361.108 322.118 356.017 322.118 349.735C322.118 343.453 326.94 338.362 332.889 338.362C338.836 338.362 343.659 343.453 343.659 349.735Z"
        fill="#004E9E"
      />
      <path
        d="M329.23 352.66L332.208 350.082C333.32 349.11 333.755 348.598 333.755 347.813C333.755 347.019 333.256 346.586 332.553 346.586C331.862 346.586 331.391 346.99 330.725 347.855L329.345 346.681C330.227 345.412 331.083 344.724 332.681 344.724C334.534 344.724 335.761 345.871 335.761 347.639V347.666C335.761 349.245 334.995 350.029 333.409 351.324L331.952 352.511H335.851V354.307H329.23V352.66Z"
        fill="white"
      />
      <path
        d="M319.753 358.738C319.753 365.019 314.93 370.111 308.983 370.111C303.034 370.111 298.212 365.019 298.212 358.738C298.212 352.456 303.034 347.365 308.983 347.365C314.93 347.365 319.753 352.456 319.753 358.738Z"
        fill="#004E9E"
      />
      <path
        d="M308.104 355.899L306.545 356.305L306.137 354.604L308.706 353.793H310.047V363.31H308.104V355.899Z"
        fill="white"
      />
      <path
        d="M272.661 178.986C272.661 181.614 269.886 183.745 266.464 183.745C263.041 183.745 260.266 181.614 260.266 178.986C260.266 176.357 263.041 174.227 266.464 174.227C269.886 174.227 272.661 176.357 272.661 178.986Z"
        fill="#BCBDBD"
      />
      <path
        d="M265.537 151.674V178.358C265.537 178.904 266.015 179.345 266.605 179.345C267.195 179.345 267.673 178.904 267.673 178.358V151.674H265.537Z"
        fill="#959595"
      />
      <path
        d="M277.235 146.501C277.235 152.783 272.412 157.874 266.464 157.874C260.516 157.874 255.694 152.783 255.694 146.501C255.694 140.219 260.516 135.128 266.464 135.128C272.412 135.128 277.235 140.219 277.235 146.501Z"
        fill="#004E9E"
      />
      <path
        d="M259.364 149.426L262.342 146.849C263.455 145.877 263.888 145.364 263.888 144.58C263.888 143.784 263.389 143.353 262.688 143.353C261.996 143.353 261.524 143.757 260.859 144.621L259.479 143.448C260.36 142.179 261.216 141.491 262.814 141.491C264.669 141.491 265.896 142.638 265.896 144.406V144.433C265.896 146.012 265.128 146.795 263.544 148.091L262.086 149.277H265.984V151.074H259.364V149.426Z"
        fill="white"
      />
      <path
        d="M272.008 144.338V144.311C272.008 143.731 271.535 143.204 270.73 143.204C269.925 143.204 269.452 143.716 269.452 144.298V144.325C269.452 144.986 269.951 145.486 270.73 145.486C271.511 145.486 272.008 144.999 272.008 144.338ZM272.277 148.32V148.293C272.277 147.564 271.625 147.132 270.73 147.132C269.837 147.132 269.184 147.564 269.184 148.293V148.32C269.184 148.967 269.759 149.494 270.73 149.494C271.702 149.494 272.277 148.981 272.277 148.32ZM267.279 148.482V148.455C267.279 147.308 267.778 146.633 268.724 146.174C268.033 145.729 267.586 145.121 267.586 144.109V144.082C267.586 142.638 268.84 141.49 270.73 141.49C272.623 141.49 273.875 142.624 273.875 144.082V144.109C273.875 145.121 273.428 145.729 272.738 146.174C273.644 146.674 274.182 147.281 274.182 148.401V148.428C274.182 150.183 272.713 151.208 270.73 151.208C268.75 151.208 267.279 150.129 267.279 148.482Z"
        fill="white"
      />
      <path
        d="M396.465 134.194C396.465 136.822 393.69 138.953 390.268 138.953C386.845 138.953 384.07 136.822 384.07 134.194C384.07 131.565 386.845 129.435 390.268 129.435C393.69 129.435 396.465 131.565 396.465 134.194Z"
        fill="#BCBDBD"
      />
      <path
        d="M389.341 106.882V133.566C389.341 134.112 389.819 134.554 390.409 134.554C390.999 134.554 391.476 134.112 391.476 133.566V106.882H389.341Z"
        fill="#959595"
      />
      <path
        d="M401.038 101.709C401.038 107.991 396.215 113.082 390.268 113.082C384.319 113.082 379.498 107.991 379.498 101.709C379.498 95.4277 384.319 90.3363 390.268 90.3363C396.215 90.3363 401.038 95.4277 401.038 101.709Z"
        fill="#004E9E"
      />
      <path
        d="M383.079 104.635L386.057 102.057C387.17 101.085 387.603 100.572 387.603 99.7885C387.603 98.9924 387.106 98.5609 386.402 98.5609C385.711 98.5609 385.239 98.9654 384.574 99.8296L383.194 98.656C384.075 97.3873 384.931 96.699 386.529 96.699C388.384 96.699 389.611 97.8457 389.611 99.6139V99.6408C389.611 101.22 388.843 102.004 387.259 103.299L385.801 104.486H389.699V106.282H383.079V104.635Z"
        fill="white"
      />
      <path
        d="M395.43 98.6286H391.224V96.8335H397.666V98.4001L393.653 106.282H391.429L395.43 98.6286Z"
        fill="white"
      />
      <path
        d="M515.852 90.7269C515.852 93.3554 513.077 95.4857 509.655 95.4857C506.232 95.4857 503.457 93.3554 503.457 90.7269C503.457 88.0984 506.232 85.9682 509.655 85.9682C513.077 85.9682 515.852 88.0984 515.852 90.7269Z"
        fill="#BCBDBD"
      />
      <path
        d="M508.728 63.4149V90.0992C508.728 90.6449 509.206 91.0866 509.795 91.0866C510.385 91.0866 510.863 90.6449 510.863 90.0992V63.4149H508.728Z"
        fill="#959595"
      />
      <path
        d="M520.993 58.2423C520.993 64.524 516.17 69.6153 510.223 69.6153C504.274 69.6153 499.453 64.524 499.453 58.2423C499.453 51.9606 504.274 46.8693 510.223 46.8693C516.17 46.8693 520.993 51.9606 520.993 58.2423Z"
        fill="#004E9E"
      />
      <path
        d="M503.034 61.1676L506.012 58.5905C507.125 57.6184 507.558 57.1048 507.558 56.3215C507.558 55.5254 507.06 55.0939 506.358 55.0939C505.666 55.0939 505.194 55.4984 504.529 56.3626L503.148 55.189C504.03 53.9203 504.886 53.232 506.484 53.232C508.338 53.232 509.565 54.3787 509.565 56.1469V56.1738C509.565 57.7532 508.798 58.5365 507.214 59.8322L505.756 61.0186H509.654V62.8151H503.034V61.1676Z"
        fill="white"
      />
      <path
        d="M516.164 59.8048V59.7778C516.164 58.9817 515.576 58.4013 514.605 58.4013C513.634 58.4013 513.071 58.9676 513.071 59.7637V59.7907C513.071 60.5868 513.659 61.1942 514.63 61.1942C515.603 61.1942 516.164 60.6138 516.164 59.8048ZM512.125 61.9646C511.474 61.2764 511.064 60.2632 511.064 58.3872V58.3602C511.064 55.4454 512.318 53.2047 514.989 53.2047C516.203 53.2047 516.995 53.5822 517.788 54.2435L516.753 55.8499C516.164 55.3773 515.691 55.0935 514.925 55.0935C513.813 55.0935 513.251 56.0386 513.122 57.2803C513.569 56.9696 514.095 56.673 514.976 56.673C516.753 56.673 518.12 57.7118 518.12 59.6828V59.7098C518.12 61.6398 516.651 62.9765 514.708 62.9765C513.545 62.9765 512.752 62.6259 512.125 61.9646Z"
        fill="white"
      />
      <path
        d="M285.999 126.135C285.999 128.764 283.224 130.894 279.802 130.894C276.379 130.894 273.604 128.764 273.604 126.135C273.604 123.507 276.379 121.376 279.802 121.376C283.224 121.376 285.999 123.507 285.999 126.135Z"
        fill="#BCBDBD"
      />
      <path
        d="M278.875 98.8231V125.507C278.875 126.053 279.353 126.495 279.943 126.495C280.532 126.495 281.01 126.053 281.01 125.507V98.8231H278.875Z"
        fill="#959595"
      />
      <path
        d="M290.572 93.6506C290.572 99.9323 285.749 105.024 279.802 105.024C273.853 105.024 269.031 99.9323 269.031 93.6506C269.031 87.369 273.853 82.2776 279.802 82.2776C285.749 82.2776 290.572 87.369 290.572 93.6506Z"
        fill="#004E9E"
      />
      <path
        d="M271.939 96.7513L273.294 95.3876C273.907 96.1169 274.546 96.5214 275.453 96.5214C276.195 96.5214 276.719 96.0771 276.719 95.3747V95.3478C276.719 94.5786 276.067 94.1459 274.968 94.1459H274.151L273.843 92.8233L275.979 90.5556H272.462V88.7746H278.508V90.3399L276.246 92.6217C277.46 92.8374 278.65 93.5116 278.65 95.2669V95.2939C278.65 97.0749 277.423 98.3846 275.429 98.3846C273.818 98.3846 272.706 97.7092 271.939 96.7513Z"
        fill="white"
      />
      <path
        d="M286.015 93.5252V93.4983C286.015 91.784 285.224 90.4884 284.048 90.4884C282.871 90.4884 282.105 91.7442 282.105 93.4713V93.4983C282.105 95.2253 282.885 96.5081 284.073 96.5081C285.261 96.5081 286.015 95.2395 286.015 93.5252ZM280.085 93.5252V93.4983C280.085 90.758 281.695 88.6124 284.073 88.6124C286.437 88.6124 288.035 90.7311 288.035 93.4713V93.4983C288.035 96.2385 286.437 98.3842 284.048 98.3842C281.657 98.3842 280.085 96.2654 280.085 93.5252Z"
        fill="white"
      />
      <path
        d="M412.294 81.2693C412.294 83.8978 409.519 86.0281 406.097 86.0281C402.674 86.0281 399.899 83.8978 399.899 81.2693C399.899 78.6408 402.674 76.5106 406.097 76.5106C409.519 76.5106 412.294 78.6408 412.294 81.2693Z"
        fill="#BCBDBD"
      />
      <path
        d="M405.17 53.9574V80.6417C405.17 81.1875 405.648 81.6292 406.238 81.6292C406.827 81.6292 407.305 81.1875 407.305 80.6417V53.9574H405.17Z"
        fill="#959595"
      />
      <path
        d="M416.867 48.7849C416.867 55.0666 412.044 60.1579 406.097 60.1579C400.148 60.1579 395.326 55.0666 395.326 48.7849C395.326 42.5032 400.148 37.4119 406.097 37.4119C412.044 37.4119 416.867 42.5032 416.867 48.7849Z"
        fill="#004E9E"
      />
      <path
        d="M398.818 51.7098L401.796 49.1326C402.909 48.1606 403.343 47.647 403.343 46.8637C403.343 46.0676 402.845 45.6361 402.142 45.6361C401.451 45.6361 400.979 46.0406 400.314 46.9048L398.934 45.7311C399.816 44.4625 400.672 43.7742 402.27 43.7742C404.123 43.7742 405.35 44.9209 405.35 46.689V46.716C405.35 48.2954 404.584 49.0787 402.998 50.3743L401.541 51.5608H405.44V53.3572H398.818V51.7098Z"
        fill="white"
      />
      <path
        d="M411.924 46.9994V46.9724C411.924 46.1352 411.335 45.5279 410.351 45.5279C409.38 45.5279 408.83 46.1224 408.83 46.9583V46.9853C408.83 47.8225 409.419 48.4029 410.389 48.4029C411.362 48.4029 411.924 47.8097 411.924 46.9994ZM407.079 52.3977L408.115 50.8195C408.767 51.3717 409.317 51.6285 410.07 51.6285C411.169 51.6285 411.757 50.7515 411.885 49.4828C411.451 49.8744 410.85 50.1313 410.07 50.1313C408.128 50.1313 406.875 48.9974 406.875 47.0803V47.0533C406.875 45.1503 408.268 43.7469 410.288 43.7469C411.49 43.7469 412.192 44.0563 412.87 44.7728C413.508 45.447 413.93 46.4729 413.93 48.3361V48.3631C413.93 51.4269 412.563 53.5186 410.019 53.5186C408.715 53.5186 407.833 53.0602 407.079 52.3977Z"
        fill="white"
      />
      <path
        d="M543.061 161.323L557.772 172.392L354.511 246.297L339.799 235.228L543.061 161.323Z"
        fill="#D7D8D7"
      />
      <g id="info-icon-3-6">
        <path
          d="M477.844 213.458H502.712V239.717H477.844V213.458Z"
          fill="#1D1D1B"
        />
        <path
          d="M494.034 233.624L497.73 233.768C498.059 233.679 499.337 233.231 499.173 231.703C498.957 230.025 497.192 229.595 496.93 229.539L494.977 229.48L486.42 219.605L482.726 219.459C482.397 219.548 481.119 219.996 481.284 221.525C481.518 223.381 483.54 223.746 483.561 223.748L485.422 223.741L494.034 233.624ZM497.837 235.057L493.483 234.888L484.889 225.025H483.465C482.354 224.845 480.36 223.927 480.075 221.683C479.827 219.379 481.586 218.389 482.55 218.186L482.619 218.17L486.973 218.341L495.526 228.212L497.089 228.264C497.208 228.286 500.024 228.792 500.379 231.544C500.628 233.849 498.872 234.839 497.907 235.042L497.837 235.057Z"
          fill="white"
        />
        <path
          d="M491.272 222.386H491.472C491.123 222.386 490.925 221.966 490.925 221.441C490.925 220.969 491.322 220.444 491.82 220.444C492.317 220.444 492.715 220.969 492.715 221.441C492.715 221.966 492.467 222.386 492.118 222.386H492.267V225.274L491.77 224.907L491.272 224.382V222.386Z"
          fill="white"
        />
      </g>
      <g id="info-icon-6-1">
        <path
          d="M519.037 168.693H543.905V194.952H519.037V168.693Z"
          fill="#1D1D1B"
        />
        <path
          d="M524.558 177.621L525.155 181.98C525.303 183.083 525.503 183.923 525.602 185.499H525.652C525.801 183.923 526.05 183.031 526.249 181.98L527.045 177.621H528.934L529.731 181.875C529.929 183.083 530.129 183.923 530.277 185.499H530.327C530.426 183.923 530.576 183.083 530.774 181.875L531.421 177.621H533.808L531.421 188.125H529.134L528.387 184.238C528.189 183.187 528.039 182.348 527.89 180.772H527.84C527.692 182.348 527.542 183.24 527.343 184.238L526.597 188.125H524.309L522.071 177.621H524.558Z"
          fill="white"
        />
        <path
          d="M540.523 187.757C540.075 188.019 539.279 188.23 538.384 188.23C535.897 188.23 534.257 186.129 534.257 182.768C534.257 179.669 535.799 177.095 538.683 177.095C539.329 177.095 540.026 177.253 540.523 177.517L540.125 179.985C539.826 179.827 539.429 179.669 538.782 179.669C537.489 179.669 536.694 180.93 536.694 182.663C536.694 184.606 537.639 185.656 538.831 185.656C539.379 185.656 539.826 185.551 540.225 185.342L540.523 187.757Z"
          fill="white"
        />
      </g>

      <g id="info-icon-7-1">
        <path
          d="M489.363 181.429H514.23V207.689H489.363V181.429Z"
          fill="#1D1D1B"
        />
        <path
          d="M496.872 185.736C496.872 186.262 496.723 186.734 496.425 187.154C496.127 187.523 495.778 187.732 495.331 187.732C494.933 187.732 494.585 187.523 494.286 187.154C493.988 186.787 493.838 186.314 493.838 185.736C493.838 185.211 493.988 184.739 494.286 184.371C494.585 184.003 494.933 183.794 495.331 183.794C495.728 183.794 496.127 184.003 496.425 184.371C496.723 184.739 496.872 185.211 496.872 185.736ZM496.823 190.358H500.154C500.204 190.358 500.304 190.305 500.304 190.41V191.25C500.304 191.355 500.204 191.408 500.154 191.408H496.823V194.034H499.906C500.404 194.034 500.801 194.297 501.199 194.875L504.035 199.286H504.681C504.98 199.286 505.079 199.444 505.178 199.496C505.278 199.602 505.278 199.864 505.278 200.178V200.861H503.089C502.691 202.437 501.996 203.225 500.951 204.013C499.906 204.801 498.712 205.274 497.42 205.274C495.778 205.274 494.386 204.696 493.192 203.487C492.048 202.279 491.451 200.809 491.451 199.129C491.451 197.868 491.651 196.818 492.197 195.925C492.596 195.19 493.341 194.559 493.838 194.034V190.463L493.938 188.782C493.938 188.099 494.883 187.784 495.38 187.784C495.778 187.784 496.176 187.942 496.425 188.204C496.673 188.468 496.823 188.782 496.823 189.149V190.358ZM501.796 199.129L499.707 196.135H494.136C493.391 196.66 493.043 197.974 493.043 199.129C493.043 200.389 493.491 201.439 494.336 202.332C495.181 203.225 496.226 203.645 497.42 203.645C498.613 203.645 499.657 203.225 500.503 202.332C501.398 201.439 501.796 200.389 501.796 199.129Z"
          fill="white"
        />
        <path
          d="M501.846 184.056L502.244 186.944C502.293 187.627 502.393 188.257 502.493 189.308C502.591 188.257 502.741 187.627 502.841 186.944L503.338 184.056H504.532L505.029 186.892C505.178 187.627 505.327 188.257 505.427 189.308C505.477 188.257 505.577 187.627 505.725 186.892L506.123 184.056H507.615L506.123 190.883H504.73L504.283 188.363C504.133 187.732 504.035 187.207 503.935 186.157C503.835 187.207 503.736 187.732 503.636 188.363L503.139 190.883H501.696L500.304 184.056H501.846Z"
          fill="white"
        />
        <path
          d="M511.843 190.621C511.595 190.779 511.047 190.935 510.5 190.935C508.908 190.935 507.914 189.623 507.914 187.522C507.914 185.579 508.908 184.004 510.698 184.004C511.097 184.004 511.545 184.108 511.843 184.266L511.595 185.789C511.445 185.632 511.146 185.579 510.748 185.579C509.953 185.579 509.456 186.366 509.456 187.469C509.456 188.678 510.053 189.308 510.798 189.308C511.146 189.308 511.445 189.203 511.643 189.098L511.843 190.621Z"
          fill="white"
        />
      </g>

      <g id="info-icon-5-3">
        <path
          d="M607.063 209.658H631.831L631.931 209.763V235.917H607.163L607.063 235.812V209.658Z"
          fill="#1D1D1B"
        />
        <path
          d="M621.799 232.754H617.195V220.969H621.799V232.754Z"
          fill="white"
        />
        <path
          d="M622.136 215.608C622.136 217.147 620.954 218.395 619.496 218.395C618.04 218.395 616.858 217.147 616.858 215.608C616.858 214.068 618.04 212.82 619.496 212.82C620.954 212.82 622.136 214.068 622.136 215.608Z"
          fill="white"
        />
        <path
          d="M611.605 228.116C611.014 228.116 610.533 227.609 610.533 226.983V219.577C610.533 218.953 611.014 218.444 611.605 218.444H615.678V217.21H611.605C610.37 217.21 609.363 218.272 609.363 219.577V226.983C609.363 228.288 610.37 229.35 611.605 229.35H615.678V228.116H611.605Z"
          fill="white"
        />
        <path
          d="M627.388 217.21H623.316V218.444H627.388C627.979 218.444 628.461 218.953 628.461 219.577V226.983C628.461 227.609 627.979 228.116 627.388 228.116H623.316V229.351H627.388C628.624 229.351 629.631 228.288 629.631 226.983V219.577C629.631 218.272 628.624 217.21 627.388 217.21Z"
          fill="white"
        />
      </g>
      <g id="info-icon-2-4">
        <path
          d="M387.466 247.984H412.333V274.243H387.466V247.984Z"
          fill="#1D1D1B"
        />
        <path
          d="M407.315 267.125C407.315 268.127 406.54 268.944 405.592 268.944H394.207C393.258 268.944 392.484 268.127 392.484 267.125V255.102C392.484 254.102 393.258 253.283 394.207 253.283H405.592C406.54 253.283 407.315 254.102 407.315 255.102V267.125Z"
          stroke="white"
          stroke-miterlimit="10"
        />
        <path
          d="M394.548 257.95V262.197C394.548 262.434 394.729 262.625 394.953 262.625C395.176 262.625 395.358 262.434 395.358 262.197V258.805H395.821V266.568C395.821 266.805 396.002 266.996 396.226 266.996C396.45 266.996 396.631 266.805 396.631 266.568V262.472H397.086V266.568C397.086 266.805 397.267 266.996 397.491 266.996C397.714 266.996 397.895 266.805 397.895 266.568V258.805H398.359V262.197C398.359 262.434 398.54 262.625 398.764 262.625C398.987 262.625 399.169 262.434 399.169 262.197V257.95H394.548Z"
          fill="white"
        />
        <path
          d="M396.858 257.531C397.387 257.531 397.815 257.079 397.815 256.52C397.815 255.962 397.387 255.51 396.858 255.51C396.329 255.51 395.901 255.962 395.901 256.52C395.901 257.079 396.329 257.531 396.858 257.531Z"
          fill="white"
        />
        <path
          d="M400.915 260.23L402.94 256.274L404.965 260.23H400.915Z"
          fill="white"
        />
        <path
          d="M404.965 262.275L402.939 266.232L400.915 262.275H404.965Z"
          fill="white"
        />
      </g>

      <path
        d="M652.548 143.946L653.178 143.155C653.748 143.676 654.318 143.973 655.059 143.973C655.707 143.973 656.117 143.658 656.117 143.182V143.164C656.117 142.714 655.877 142.472 654.77 142.201C653.501 141.877 652.785 141.482 652.785 140.321V140.304C652.785 139.224 653.638 138.478 654.822 138.478C655.69 138.478 656.38 138.757 656.984 139.269L656.423 140.105C655.886 139.683 655.35 139.458 654.804 139.458C654.192 139.458 653.834 139.79 653.834 140.204V140.223C653.834 140.709 654.106 140.923 655.248 141.212C656.509 141.536 657.164 142.012 657.164 143.056V143.074C657.164 144.251 656.286 144.952 655.035 144.952C654.123 144.952 653.263 144.62 652.548 143.946Z"
        fill="black"
      />
      <path
        d="M661.607 140.591V140.573C661.607 139.917 661.121 139.414 660.364 139.414C659.622 139.414 659.179 139.935 659.179 140.582V140.6C659.179 141.256 659.656 141.724 660.398 141.724C661.155 141.724 661.607 141.203 661.607 140.591ZM658.269 144.215L658.839 143.37C659.29 143.775 659.69 143.963 660.202 143.963C661.078 143.963 661.607 143.145 661.641 141.985C661.343 142.362 660.882 142.651 660.245 142.651C658.975 142.651 658.132 141.869 658.132 140.654V140.636C658.132 139.404 659.035 138.46 660.355 138.46C661.104 138.46 661.59 138.684 662.007 139.125C662.449 139.594 662.731 140.286 662.731 141.526V141.544C662.731 143.568 661.777 144.971 660.175 144.971C659.35 144.971 658.771 144.657 658.269 144.215Z"
        fill="black"
      />
      <path
        d="M300.685 312.649C290.8 317.538 279.033 313.04 274.403 302.601C269.773 292.163 274.034 279.737 283.919 274.849C293.804 269.959 305.571 274.458 310.201 284.897C314.831 295.335 310.57 307.761 300.685 312.649Z"
        fill="#E11D1B"
      />
      <path
        d="M277.543 291.037H278.99L280.551 295.47L282.108 291.037H283.523L281.112 297.377H279.954L277.543 291.037Z"
        fill="white"
      />
      <path
        d="M284.03 296.414L284.805 295.435C285.342 295.903 285.904 296.199 286.586 296.199C287.122 296.199 287.445 295.974 287.445 295.605V295.587C287.445 295.237 287.241 295.057 286.244 294.786C285.044 294.463 284.268 294.112 284.268 292.863V292.845C284.268 291.702 285.137 290.947 286.355 290.947C287.224 290.947 287.965 291.234 288.569 291.747L287.888 292.791C287.359 292.404 286.841 292.169 286.338 292.169C285.835 292.169 285.572 292.413 285.572 292.719V292.737C285.572 293.15 285.827 293.285 286.857 293.564C288.067 293.896 288.748 294.355 288.748 295.453V295.471C288.748 296.72 287.846 297.422 286.559 297.422C285.657 297.422 284.746 297.088 284.03 296.414Z"
        fill="white"
      />
      <path
        d="M291.275 292.314H289.462V291.037H294.401V292.314H292.587V297.332H291.275V292.314Z"
        fill="white"
      />
      <path
        d="M295.309 294.634V291.037H296.62V294.599C296.62 295.624 297.106 296.154 297.906 296.154C298.706 296.154 299.192 295.642 299.192 294.644V291.037H300.502V294.59C300.502 296.496 299.489 297.432 297.889 297.432C296.288 297.432 295.309 296.487 295.309 294.634Z"
        fill="white"
      />
      <path
        d="M304.188 294.211C304.843 294.211 305.226 293.798 305.226 293.258V293.24C305.226 292.62 304.819 292.288 304.162 292.288H303.149V294.211H304.188ZM301.836 291.037H304.273C305.694 291.037 306.555 291.928 306.555 293.213V293.231C306.555 294.688 305.482 295.444 304.145 295.444H303.149V297.333H301.836V291.037Z"
        fill="white"
      />
      <path
        d="M313.371 283.329C314.2 285.198 314.758 287.123 315.117 289.061L321.512 279.302L310.319 278.242C311.499 279.774 312.541 281.459 313.371 283.329Z"
        fill="#E11D1B"
      />
      <path
        d="M626.869 97.0472C632.201 86.989 644.245 83.4 653.77 89.0294C663.295 94.6601 666.694 107.378 661.362 117.436C656.031 127.494 643.987 131.084 634.462 125.453C624.937 119.823 621.537 107.105 626.869 97.0472Z"
        fill="#E11D1B"
      />
      <path
        d="M629.995 104.802H631.442L633.002 109.234L634.56 104.802H635.974L633.564 111.141H632.405L629.995 104.802Z"
        fill="white"
      />
      <path
        d="M636.481 110.179L637.257 109.199C637.793 109.668 638.355 109.963 639.037 109.963C639.573 109.963 639.897 109.738 639.897 109.37V109.352C639.897 109.001 639.692 108.821 638.695 108.55C637.495 108.227 636.719 107.876 636.719 106.627V106.609C636.719 105.466 637.589 104.711 638.806 104.711C639.675 104.711 640.416 104.999 641.02 105.511L640.339 106.555C639.81 106.168 639.292 105.933 638.789 105.933C638.287 105.933 638.023 106.177 638.023 106.483V106.501C638.023 106.914 638.278 107.049 639.308 107.328C640.518 107.661 641.199 108.119 641.199 109.217V109.235C641.199 110.484 640.297 111.187 639.01 111.187C638.108 111.187 637.197 110.853 636.481 110.179Z"
        fill="white"
      />
      <path
        d="M643.726 106.078H641.913V104.802H646.852V106.078H645.038V111.096H643.726V106.078Z"
        fill="white"
      />
      <path
        d="M647.76 108.398V104.801H649.071V108.363C649.071 109.388 649.557 109.918 650.357 109.918C651.157 109.918 651.643 109.406 651.643 108.408V104.801H652.954V108.354C652.954 110.26 651.941 111.196 650.34 111.196C648.739 111.196 647.76 110.251 647.76 108.398Z"
        fill="white"
      />
      <path
        d="M656.639 107.975C657.294 107.975 657.678 107.562 657.678 107.023V107.005C657.678 106.384 657.27 106.052 656.614 106.052H655.601V107.975H656.639ZM654.287 104.801H656.724C658.146 104.801 659.007 105.692 659.007 106.978V106.996C659.007 108.452 657.933 109.208 656.596 109.208H655.601V111.097H654.287V104.801Z"
        fill="white"
      />
      <path
        d="M632.752 128.679C631.046 127.671 629.529 126.451 628.169 125.096L628.361 136.962L638.04 130.931C636.236 130.415 634.458 129.687 632.752 128.679Z"
        fill="#E11D1B"
      />
      <g id="s301a_5_5">
        <path
          d="M580.918 158.982C580.654 158.874 580.287 158.793 579.887 158.793C579.24 158.793 578.858 159.071 578.858 159.53V159.548C578.858 159.997 579.24 160.249 579.726 160.249C580.407 160.249 580.918 159.846 580.918 159.251V158.982ZM580.892 160.969V160.385C580.586 160.772 580.118 161.068 579.436 161.068C578.584 161.068 577.835 160.556 577.835 159.602V159.585C577.835 158.531 578.611 158.029 579.658 158.029C580.203 158.029 580.552 158.108 580.901 158.227V158.137C580.901 157.479 580.509 157.12 579.793 157.12C579.291 157.12 578.916 157.238 578.508 157.416L578.227 156.544C578.721 156.311 579.207 156.149 579.938 156.149C581.267 156.149 581.914 156.886 581.914 158.153V160.969H580.892Z"
          fill="#1D1D1B"
        />
        <path
          d="M563.199 159.976L563.932 159.256C564.358 159.787 564.835 160.084 565.5 160.084C566.086 160.084 566.528 159.706 566.528 159.131V159.113C566.528 158.492 565.993 158.141 565.158 158.141H564.673L564.501 157.449L566.113 155.641H563.531V154.679H567.474V155.506L565.813 157.305C566.717 157.431 567.568 157.907 567.568 159.076V159.094C567.568 160.255 566.717 161.082 565.481 161.082C564.442 161.082 563.701 160.623 563.199 159.976Z"
          fill="#1D1D1D"
        />
        <path
          d="M572.693 157.844V157.826C572.693 156.586 572.088 155.569 571.168 155.569C570.248 155.569 569.66 156.559 569.66 157.808V157.826C569.66 159.068 570.256 160.084 571.185 160.084C572.113 160.084 572.693 159.086 572.693 157.844ZM568.579 157.844V157.826C568.579 156.027 569.619 154.571 571.185 154.571C572.744 154.571 573.774 156.009 573.774 157.808V157.826C573.774 159.625 572.735 161.081 571.168 161.081C569.601 161.081 568.579 159.643 568.579 157.844Z"
          fill="#1D1D1D"
        />
        <path
          d="M575.772 155.758L574.699 156.073L574.479 155.173L576.079 154.635H576.811V160.974H575.772V155.758Z"
          fill="#1D1D1D"
        />
      </g>
      <g id="s301b_5_5">
        <path
          d="M557.334 164.325V164.306C557.334 163.389 556.747 162.787 556.048 162.787C555.35 162.787 554.736 163.398 554.736 164.306V164.325C554.736 165.242 555.35 165.845 556.048 165.845C556.754 165.845 557.334 165.261 557.334 164.325ZM554.762 165.953V166.69H553.731V160.125H554.762V162.733C555.094 162.238 555.563 161.842 556.287 161.842C557.351 161.842 558.381 162.733 558.381 164.306V164.325C558.381 165.899 557.36 166.789 556.287 166.789C555.546 166.789 555.077 166.392 554.762 165.953Z"
          fill="#1D1D1B"
        />
        <path
          d="M538.702 165.683L539.435 164.963C539.861 165.494 540.337 165.791 541.003 165.791C541.589 165.791 542.031 165.413 542.031 164.838V164.82C542.031 164.199 541.496 163.848 540.661 163.848H540.176L540.004 163.156L541.615 161.348H539.034V160.386H542.977V161.213L541.316 163.012C542.22 163.138 543.071 163.614 543.071 164.783V164.801C543.071 165.962 542.22 166.789 540.984 166.789C539.945 166.789 539.204 166.33 538.702 165.683Z"
          fill="#1D1D1D"
        />
        <path
          d="M548.196 163.551V163.533C548.196 162.293 547.591 161.276 546.671 161.276C545.751 161.276 545.163 162.266 545.163 163.515V163.533C545.163 164.775 545.759 165.791 546.688 165.791C547.616 165.791 548.196 164.793 548.196 163.551ZM544.082 163.551V163.533C544.082 161.734 545.122 160.278 546.688 160.278C548.247 160.278 549.277 161.716 549.277 163.515V163.533C549.277 165.332 548.237 166.788 546.671 166.788C545.104 166.788 544.082 165.35 544.082 163.551Z"
          fill="#1D1D1D"
        />
        <path
          d="M551.275 161.465L550.202 161.78L549.981 160.88L551.582 160.342H552.314V166.681H551.275V161.465Z"
          fill="#1D1D1D"
        />
      </g>
    </g>
  </svg>
</div>
