<section class="c-topstory-section">
  <div class="container">
    <div class="js-slider">
      <div class="c-topstory-section__item">
        <a class="c-topstory-section__link" href="#">
          <picture>
            <source
              srcset="images/content/top-2.jpeg"
              media="(min-width: 1024px)"
            />
            <img src="https://via.placeholder.com/1024x1024" alt="example" />
          </picture>
        </a>
      </div>
      <div class="c-topstory-section__item">
        <a class="c-topstory-section__link" href="#">
          <img src="images/content/top-1.jpeg" loading="lazy" alt="" />
        </a>
      </div>
      <div class="c-topstory-section__item">
        <a class="c-topstory-section__link" href="#">
          <img src="images/content/top-1.jpeg" loading="lazy" alt="" />
        </a>
      </div>
    </div>
  </div>
</section>
