<section class="c-topstory-section">
  <div class="container">
    <div class="js-slider">
      <div class="c-topstory-section__item c-topstory-section__item--pink">
        <a class="c-topstory-section__link" href="#">
          <div class="c-topstory-section__img">
            <img src="images/content/news.png" loading="lazy" alt="" />
          </div>
          <div class="c-topstory-section__title">
            <h1>Zimní výprodej v GrandOptical!</h1>
          </div>
        </a>
      </div>
      <div class="c-topstory-section__item c-topstory-section__item--green">
        <a class="c-topstory-section__link" href="#">
          <div class="c-topstory-section__img">
            <img src="images/content/news.png" loading="lazy" alt="" />
          </div>
          <div class="c-topstory-section__title">
            <h1>Zimní výprodej v GrandOptical!</h1>
          </div>
        </a>
      </div>
      <div class="c-topstory-section__item c-topstory-section__item--blue">
        <a class="c-topstory-section__link" href="#">
          <div class="c-topstory-section__img">
            <img src="images/content/news.png" loading="lazy" alt="" />
          </div>
          <div class="c-topstory-section__title">
            <h1>Zimní výprodej v GrandOptical!</h1>
          </div>
        </a>
      </div>
      <div class="c-topstory-section__item c-topstory-section__item--yellow">
        <a class="c-topstory-section__link" href="#">
          <div class="c-topstory-section__img">
            <img src="images/content/news.png" loading="lazy" alt="" />
          </div>
          <div class="c-topstory-section__title">
            <h1>Zimní výprodej v GrandOptical!</h1>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
